{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


    <section class="row">
        <div class="columns large-12">
            <h1>{% trans "Sign In" %}</h1>
        </div>
    </section>

    <section class="row">

        <div class="columns large-12">

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of of the following:{% endblocktrans %}</p>

                <div class="socialaccount_ballot">

                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
        </form>

{% endblock %}



</div>
</section>