<h3 data-magellan-destination="report-table"></h3>
<a name="report-table"></a><ul class="ds-details" id="report-table">
    <ul class="ds-details" id="report-table">

        <div class="ds-table" id="report-table">
            <table>
                <caption>
                    <h2>Basic table with column headers</h2>
                </caption>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
                <!-- rows here -->
            </table>
        </div>