{% extends "report_base.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block content %}

<div class="ds-stack">
  <h1>Report Title</h1>
  
  {% include "report_2021/report_contents.html" %}

  <blockquote>
    Very clear, simple, comprehensive. 
    It’s a wonderful voting tool and it 
    definitely influenced positively my 
    decision to vote. Thank you for providing 
    such informative and easy-to-follow pre-voting platform.
  </blockquote>

  {% include "report_2021/report_table.html" %}

</div>
{%  endblock %}
