{% extends "projects/projects_base.html" %}
{% load markdown_filter %}
{% load static %}
{# fmt:off #}

{% block page_title %}Candidates database{% endblock page_title %}

{% block content %}
<div class="ds-stack-smaller">
  <h1>Candidates database</h1>
{% filter markdown %}

[**Democracy Club Candidates**](https://candidates.democracyclub.org.uk/) is a crowdsource database of candidates standing in UK elections. It allows voters to view their ballot ahead of the election, and provides social media links, election statements and other information about each candidate. The database powers our own [Who Can I Vote For](https://whocanivotefor.co.uk/), which is used by millions of voters every year. The data is also used by many other organisations, including The Electoral Commission and House of Commons Library.

## Anyone can contribute

The database is maintained by Democracy Club’s staff and volunteer contributors. Anyone can create an account and add information \- helping their fellow voters make informed decisions about their vote. [**Learn more about becoming a contributor.**](https://candidates.democracyclub.org.uk/volunteer/)

Are you a candidate or party campaigner? [**Learn how to edit your profile or those of your candidates.**](https://whocanivotefor.co.uk/standing/)

You can contribute at any time of year, but we are always in need of more contributors in early April each year, when candidate lists are released for the local and devolved elections. You can keep in touch with our work by [joining our mailing list](https://mailinglist.democracyclub.org.uk/subscription/form).

## Get the data

Democracy Club Candidates offers free data downloads for journalists, academics and campaigners. You can download a CSV of information for a [specific election](https://candidates.democracyclub.org.uk/data/shortcuts), or use our [CSV builder](https://candidates.democracyclub.org.uk/data/) to create exactly the file you want.

> Democracy Club’s work gathering data on candidates standing for election has been enormously helpful to us. It has allowed us to produce a more detailed analysis of the elections than was possible before and has made the process of gathering candidate data easier. In the absence of a comprehensive, standardised, digital process for reporting the results of elections across the UK, Democracy Club performs a vital role in collecting and distributing this data.

Oliver Hawkins, Social & General Statistics Section, House of Commons Library

<a href="https://candidates.democracyclub.org.uk/">Help add to the database here</a>.

<a href="https://candidates.democracyclub.org.uk/help/api">Get the data here</a>.

{% endfilter %}

{% load post_tags %}
{% posts_for_tag "WhoCanIVoteFor" %}
</div>

{% endblock %}
