{% extends "projects/projects_base.html" %}
{% load markdown_deux_tags %}
{% load static %}
{% block title %}
Candidates Wiki
{% endblock %}

{% block content %}
  <div class="ds-stack-smaller">
  <h1>Candidates Wiki</h1>
  <img src="{% static "ynr-on-a-phone.png" %}">
{% filter markdown %}


  In the UK, the state does not provide nationwide data on election candidates.

But everyone — from individual voters to journalists and campaigners — wants this information.

So we created the crowdsourced database of UK election candidates.

The data powers our voter information website, WhoCanIVoteFor.co.uk. It’s also been used by Google, The Electoral Commission, The Guardian and many other organisations.

Since 2015, it has helped tens millions of people to learn about their candidates.

> Democracy Club’s work gathering data on candidates standing for election has been enormously helpful to us.
  It has allowed us to produce a more detailed analysis of the elections than was possible before and has
  made the process of gathering candidate data easier. In the absence of a comprehensive, standardised,
  digital process for reporting the results of elections across the UK, Democracy Club performs a vital
  role in collecting and distributing this data.

<cite>Oliver Hawkins, Social & General Statistics Section, House of Commons Library</cite>

  <a href="https://candidates.democracyclub.org.uk/">Help add to the database here</a>.

<a href="https://candidates.democracyclub.org.uk/help/api">Get the data here</a>.

{% endfilter %}

  </div>

{% endblock %}
