{% extends "projects/projects_base.html" %}
{% load markdown_deux_tags %}

{% block title %}
Democracy Club CVs
{% endblock %}


{% block content %}
  <article>
  <h1>Democracy Club CVs</h1>
  {% filter markdown %}

Sending a CV is usually the very first step of a job application.

We believe it should also be the first step when people apply to become an MP.

Voters can then [look at the CVs](http://cv.democracyclub.org.uk/),
    and assess skills and background before choosing who is best.

[Find out more about the project](http://cv.democracyclub.org.uk/about),
    read [The Guardian's write up](https://www.theguardian.com/technology/2015/mar/30/mps-post-your-cvs-here)
    or [listen to the BBC's World At One coverage](https://www.youtube.com/watch?v=fZYdy5IhHKI)

{% endfilter %}

</article>


{% endblock %}
