{% extends "projects/projects_base.html" %}
{% load markdown_deux_tags %}
{%  load static %}

{% block title %}
Data and APIs
{% endblock %}

{% block content %}
  <article>
  <h1>Data and APIs</h1>
{% filter markdown %}

We provide APIs and data for almost all our services.



### Elections

[Data on UK elections](https://elections.democracyclub.org.uk/) from council by-elections to general elections. We provide an API
  for looking up elections and ballot papers by postcode as well as tracking boundary changes
  and Electoral Change Orders.

Each election and ballot paper is
[given an ID that we use in our other projects](https://elections.democracyclub.org.uk/reference_definition/).

We track canceled polls, and provide additional data where needed, for example information
  on the recent voter ID pilots.


### Polling locations

The API for our [polling station finder]({% url "projects:polling_one_pager" %}), providing
  polling station information for UK addresses.

Used by The Electoral Commission, hundreds of councils, political parties and newspapers, this API.

[Read the API docs](https://wheredoivote.co.uk/api/)

### Candidates

[Data on candidates](https://candidates.democracyclub.org.uk/help/api)
for every election for district councils and above. We provide nomination data
(name, party and area) information as a minimum, with contact info, statements, photos and more
depending on how well crowdsourced the data is.

Nomination data is verified by at least two people and sources are required for all edits.

The API provides postcode lookup for current elections as well as historical
data back to 2010.

This API has been used by The Electoral Commission's YourVoteMatters site, Democratic Dashboard, Google.

<figure>
  <img src="{% static "images/google-2015.png" %}">
  <figcaption>Google used our candidates data in the 2015 General Election</figcaption>
</figure>

### Results

Our candidates sourcer also stores results for all candidates we list on the site. This
is <a href="https://candidates.democracyclub.org.uk/uk_results/">available as an Atom feed and CSV download</a>, as well as in the candidates API.

General election results were used by mySociety in 2015 and 2017 to set up
<a href="https://www.mysociety.org/2015/05/05/were-up-all-night-to-get-mps/">newly elected MPs on
TheyWorkForYou</a>.

{% endfilter %}
</article>

{% endblock %}
