{% extends "projects/projects_base.html" %}
{% load markdown_filter %}
{% load static %}
{# fmt:off #}

{% block title %}
Election Leaflets
{% endblock %}

{% block content %}
<div class="ds-stack-smaller">
    <h1>Election Leaflets</h1>
{% filter markdown %}

[ElectionLeaflets.org](https://ElectionLeaflets.org) is a service for users to
upload photos of election leaflets or fliers that come through their letterbox.

Our ambition is to create a live visualization of the flood of party political leaflets
as they are delivered across the country during an election campaign.

If you have recently received any election leaflets through your door you can help by
photographing or scanning them and uploading the images to our server.

The idea was conjured up in December 2008 at a weekend in Derbyshire, and finally
acted upon in [Francis's](https://www.flourish.org/) front living room in Cambridge at the end of April 2009.

The original name of the website was "The Straight Choice", derived from a leaflet in
the controversial by-election in Bermondsey in 1983 which has become the type specimen of
accusations of dodgy campaigning. We renamed the site "ElectionLeaflets.org" in August 2010.

Democracy Club took the project on in 2015 and has kept it ticking over since.

We have decided to retire the project unless we get funding to maintain it, or at least to
do some much needed updates. We need about £15,000 to get in good shape.

[Caitlin Milazzo at Nottingham University published a paper](http://www.tandfonline.com/eprint/5dKQZDhJDjxFPZwImh8s/full)
based on a vast use of
ElectionLeaflets.org. She and a co-author analysed the number of times a party
leader’s face appeared on the election leaflets delivered at the 2015 general election.

> “The personal characteristics of political elites play an important role in British elections.
While the personalization of the media’s election coverage has been the subject of much debate,
we know less about the conditions under which voters receive personalized messages directly
from elites during the campaign. In this paper, we use a new dataset that includes more than
3,300 local communications from the 2015 general election to explore variation in the
personalization of campaign messaging. We find that there is systemic variation in terms
of where photographs of party leaders are included in election communications, which provides
further evidence that campaign messages are deployed strategically to portray the candidate –
and their party – in the best possible light.”

If you want to help keep this project going, please consider
chipping in £3 a month. We're intersted in partnering with academics or media organisations
so please <a href="{% url 'contact' %}">get in touch</a> if you want to support this project.

{% endfilter %}

  {% load post_tags %}
  {% posts_for_tag "electionleaflets" %}
</div>

{% endblock %}
