{% extends "base.html" %}
{% block content %}
  <article>

  {% block page_heading %}{% endblock page_heading %}

  <nav class="inline_page_nav">
    <ul>
      <li class="{% if request.path == "/projects/" %} nav-site__item--active{% endif %}"><a href="{% url "projects:home" %}">Projects</a></li>
    <li class="{% if request.path|slice:"-18:" == "/projects/reports/" %} nav-site__item--active{% endif %}"><a href="{% url "projects:reports" %}">Reports</a></li>
      <li class="{% if request.path|slice:"-15:" == "/projects/past/" %} nav-site__item--active{% endif %}"><a href="{% url "projects:past" %}">Past Projects</a></li>
    </ul>
  </nav>

  {% block main_content %}

  {% endblock main_content %}
  </article>
{% endblock %}
