{% extends "projects/projects_base.html" %}
{% load static %}
{% block page_title %}Reports{% endblock page_title %}
{% block page_heading %}
    <h1>Reports</h1>
{% endblock %}

{% block main_content %}

    <div class="ds-stack">
        <div class="ds-card">
            <div class="ds-card-image">
                <img src="{% static "images/report/old_bridge_pontypridd.jpg" %}" alt="">
            </div>
            <div class="ds-card-body">
                <h3>Towards better elections</h3>
                <p>Our yearly report on our elections work and the future of digital services for democracy.</p>
                <ul>
                    <li><a href="{% url "report_2016:report_2016" %}">2016</a></li>
                    <li><a href="{% url "report_2017:report_2017" %}">2017</a></li>
                    <li><a href="{% url "report_2018:report_2018" %}">2018</a></li>
                    <li><a href="{% url "report_2019:report_2019" %}">2019</a></li>
                    <li><a href="{% url "report_2019_general_election:report_2019_general_election" %}">2019 General election</a></li>
                    <li><a href="{% url "report_2021:report_2021" %}">2021</a></li>
                    <li><a href="{% url "report_2022:report_2022" %}">2022</a></li>
                </ul>
            </div>
        </div>
        <div class="ds-card">
            <div class="ds-card-image">
                <img src="{% static 'report_whos_missing/images/robin-hoods-bay_thumb.jpg' %}" alt="Robin Hood's Bay">
            </div>
            <div class="ds-card-body">
                <h3><a class="ds-card-link" href="{% url 'report_whos_missing:report_whos_missing' %}">Who’s missing, and why?</a></h3>
                <p>Underrepresentation in voter registration, candidacy, informedness and turnout</p>
                <p>Not everyone takes part in elections. Around 15% of people are not registered to vote, elections candidates do not reflect the diversity of the population, not everyone can access good information about elections, turnout rarely nudges above two-thirds of eligible voters in general elections and around one-third in local elections. Understanding who is missing, and why, is a perpetual challenge for any society that considers itself democratic.</p>
            </div>
        </div>

        <div class="ds-card">
            <div class="ds-card-image">
                <img src="{% static 'images/report/register-report-banner.jpg' %}" alt="">
            </div>
            <div class="ds-card-body">
                <h3><a class="ds-card-link" href="{% url 'projects:reports_registers' %}">Registers and collaboration: making lists we can trust</a></h3>
                <p>This report is about registers or lists, and ways of publishing and maintaining them. We examine models of stewarding registers and review case studies of different registers. We argue that transparency is necessary, and collaboration desirable, in managing registers that are trusted by their users.</p>
                <p>Commissioned and <a href="https://theodi.org/article/registers-and-collaboration-making-lists-we-can-trust-report/">initially published by the ODI</a></p>
            </div>
        </div>

        <div class="ds-card">
            <div class="ds-card-image">
                <img src="{% static 'report_2018/images/benjamin-elliott-670761-unsplash.png' %}" alt="">
            </div>
            <div class="ds-card-body">
                <h3>Where Do I Vote User Feedback</h3>
                <p>Summaries of feedback provided by users of our polling station finder, WhereDoIVote.co.uk.</p>
                <ul>
                    <li><a href="{% url 'wheredoivote_user_feedback:wheredoivote_user_feedback_2017' %}">2017</a></li>
                    <li><a href="{% url 'wheredoivote_user_feedback:wheredoivote_user_feedback_2018' %}">2018</a></li>
                    <li><a href="https://democracyclub.org.uk/blog/2019/06/27/users-have-spoken/">2019 (local and European elections)</a></li>
                    <li><a href="https://democracyclub.org.uk/blog/2020/01/30/vox-user-vox-dei-ge2019/">2019 (general election)</a></li>
                    <li><a href="https://democracyclub.org.uk/blog/2021/05/19/Tell_me_what_you_want/">2021</a></li>
                    <li><a href="https://democracyclub.org.uk/blog/2022/05/30/user-feedback-review-2022/">2022</a></li>
                </ul>
            </div>
        </div>
        {% load post_tags %}
        {% posts_for_tag "research" %}
    </div>

{% endblock %}
