{% extends "base.html" %}
{% load markdown_filter %}
{% block title %}Representatives{% endblock %}
{% block og_description_content %}
Democracy Club wants to connect the national to the local.
{% endblock %}

{% block content %}
{% filter markdown %}

# Representatives project

## Empowering local democracy

Democracy Club wants to connect the national to the local.

The people who are elected to run the UK collectively hold a huge amount of power, but this power isn’t always accessible to communities or campaigners. This is especially true of local authorities.

There are approximately 400 councils in the UK, with 22,000 elected representatives. They make decisions about everything from schools and social care, to the environment and elections.

Unlike MPs, there is no centralised database of who our councillors are. As a consequence we see many national and local campaigns by-pass making stakeholders of local government. Councillors themselves also report feeling isolated from national politics. We want to correct this.

Democracy Club is going to build the Representatives Project.

### What?
The Representatives Project will start as a single list of all elected representatives in the UK, and hopefully grow to become a platform for local campaigning.

The current scale and fragmentation of local government makes working with it hard. Most questions can only be answered by researchers trawling through hundreds of websites of varying quality. The cost of working with multiple councils is prohibitive for many projects and organisations, and the result is that local government is regularly circumvented.

Democracy Club has a lot of experience in overcoming information fragmentation, and we believe we can build something that will make local government more accessible to many.

Please note this project does not cover town, parish or community councils.

### How?
Because of our elections work, we already work closely with all councils responsible for organising elections. We also collect all the candidates who stand to be your representative. Now we want to go the extra step and collect all the people who are elected into those roles, and to build from there. We want to make this data available to everyone: voters, communities and campaigners.

We will be starting this work in the Summer of 2022.

### Get Involved
If you want to use this service, either as an individual or as a campaigner, sign up below and we will keep you updated on our progress.


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdV7aYW7hbN-Y0fckeEkcS2NFcSqUkhyKv6MspP8ObPh3XBIw/viewform?embedded=true" width="100%" height="859" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>




{% endfilter %}

    {% load post_tags %}
    {% posts_for_tag "representatives" %}
{% endblock %}
