{% extends "projects/projects_base.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block title %}
Who Can I Vote For?
{% endblock %}

{% block content %}
  <article>
  <h1>Who Can I Vote For?</h1>
  <img src="{% static "who-on-a-phone.png" %}">
  {% filter markdown %}

People expect information about elections and candidates to be available online.

>I am looking for information on the candidates I am supposed to be voting for on Thursday.
    I cannot find anything on either candidate. If they cannot be bothered to get the
    information out there why should I bother turning out to vote???

We are making this happen. At <a href="https://whocanivotefor.co.uk">WhoCanIVoteFor.co.uk</a>, users put in their postcode and we show them everything we know.
    Ideally, this information includes a statement from the candidate, their photo and contact details.
    
The website regularly sees half a million users during a major election. It now covers all by-elections, too.

It’s powered by our election data and our <a href="https://candidates.democracyclub.org.uk">crowdsourced database of candidates</a>.

Got suggestions for improvements? <a href="https://github.com/DemocracyClub/WhoCanIVoteFor">
    Find the site on Github</a>

  {% endfilter %}

</article>

{% endblock %}
