{% extends "base.html" %}
{% block title %}
Who Can I Vote For?
{% endblock %}

{% block content %}
  <article>
  <h1>Who Can I Vote For?</h1>
  [Picture of thing (in the real world?)]

  <h2>What does it do?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia qui, voluptas? Accusantium aspernatur deserunt, dicta dolorum exercitationem fugiat inventore modi molestias mollitia nihil quidem quisquam rerum sequi similique veritatis voluptatibus?</p>
  <h2>Why do you need this?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque illum nam, nisi quaerat quidem voluptas? Architecto illum magnam perspiciatis quasi quidem quis quisquam repudiandae. Aspernatur cum hic ratione sit.</p>
  <h2>Link to the thing</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, aliquid deleniti eius eligendi, ipsam iste iusto maxime minus nisi omnis ratione, recusandae reiciendis sint sit voluptatibus. Atque nostrum praesentium voluptatum.</p>
  <h2>Link to Github, etc</h2>
  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <h2>Additional links to e.g. use the data, upload data as sub-nav</h2>

  <ul>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>

</article>

{% endblock %}
