{% extends "base.html" %}
{% load typogrify_tags %}
{% load static %}
{% load thumbnail %}

{% block page_title %}{{ post.subject }}{% endblock page_title %}

{% block og_description_content %}{{ post.summary }}{% endblock og_description_content %}
{% block og_image_content %}{% thumbnail post.hero "690" as im %}{{ im.url }}{% endthumbnail %}{% endblock og_image_content %}
{% block og_title_content %}{{ post.subject }}{% endblock og_title_content %}
{% block og_type_content %}article{% endblock og_type_content %}
{% block og_url_content %}{{ CANONICAL_URL }}{{ post.get_absolute_url }}{% endblock og_url_content %}">

{% block twitter_image %}{% thumbnail post.hero "690" as im %}{{ im.url }}{% endthumbnail %}{% endblock twitter_image %}
{% block twitter_title_content %}{{ post.subject }}{% endblock twitter_title_content  %}
{% block twitter_url %}{{ CANONICAL_URL }}{{ post.get_absolute_url }}{% endblock twitter_url %}
{% block twitter_description_content %}{{ post.summary }}{% endblock twitter_description_content %}

{% block page_content %}
    <article class="ds-stack entry">
        <header>
            <h1>{{ post.subject }}</h1>
            <div class="byline">
                <address class="author">
                    By
                    {% for author in post.author.all %}
                        {% if post.author.count == 1 %}
                            {% include 'linked_authors.html' with author=author%}
                        {% else %}
                            {% if forloop.last %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}{% include 'linked_authors.html' with author=author %}
                        {% endif %}
                    {% endfor %}
                </address>
                on <time pubdate datetime="{{post.modified_on|date:"c"}}" title="{{post.created_on|date:"jS E Y"}}">{{post.created_on|date:"jS E Y"}}</time>
                {% if post.tags %}
                    <ul class="unindented-list">
                        <span aria-hidden="true">🏷️</span>
                        {% for tag in post.tags %}
                            <li class="blog-tag"><a href="{% url 'hermes_post_list_by_tag' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </header>
        {% if post.hero %}
            {% thumbnail post.hero "690" as im %}
                <img class="blog_hero" src="{{ im.url }}">
            {% endthumbnail %}
        {% endif %}
        {{ post.rendered|safe|typogrify }}
    </article>
    <div class="entry ds-stack-smaller">
        <h2>Get in touch:</h2>
        <p>
            Jump into the online chat in <a href="http://slack.democracyclub.org.uk">Slack</a>,
            <a href="https://twitter.com/democlub">tweet us</a>, or
            email <a href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a>.</p>
    </div>

{% endblock %}
