{% extends "base.html" %}
{% load typogrify_tags %}
{% block page_title %}Blog{% endblock page_title %}
{% block body_class %}class="blog"{% endblock %}
{% block page_content %}



    <div class="ds-stack">
        <h1>Democracy Club Blog</h1>
        {% for post in posts %}
            <article class="ds-stack-smaller">
                <h2 class="ds-h3"><a href="{{ post.get_absolute_url }}">{{ post.subject }}</a></h2>
                <div class="byline">
                    <address class="author">
                        By
                        {% for author in post.author.all %}
                            {% if post.author.count == 1 %}
                                {% include 'linked_authors.html' with author=author%}
                            {% else %}
                                {% if forloop.last %} and {% else %}{% if not forloop.first %}, {% endif %}{% endif %}{% include 'linked_authors.html' with author=author %}
                            {% endif %}
                        {% endfor %}
                    </address>
                    on <time pubdate datetime="{{post.modified_on|date:"c"}}" title="{{post.created_on|date:"jS E Y"}}">{{post.created_on|date:"jS E Y"}}</time>
                </div>
                {% if post.tags %}
                    <div>
                        <ul class="unindented-list">
                            <span aria-hidden="true">🏷️</span>
                            {% for tag in post.tags %}
                                <li class="blog-tag"><a href="{% url 'hermes_post_list_by_tag' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {{ post.rendered_summary|safe|typogrify }}
                <a class="ds-cta ds-cta-blue" href="{{ post.get_absolute_url }}">Read more</a>
            </article>
        {% endfor %}
{% endblock %}
</div>
