{% extends "data_apis/base.html" %}
{% load markdown_filter %}
{# fmt:off #}
{% block page_title %}Data-powered democracy: Data and Downloads{% endblock %}

{% block main_content %}

    <h2>Candidates and election results</h2>

    <p>Democracy Club collates and publishes the names and parties of all candidates standing in UK elections. We also
        publish votes cast for every candidate in all first-past-the-post elections.</p>

    <p>All of Democracy Club’s election data is available as free to download CSV files.</p>

    <a href="https://candidates.democracyclub.org.uk/data/shortcuts" class="ds-cta">Get the data</a>
    <p>The database covers all General Elections since 2010, all local and devolved elections since 2016, and all
        by-elections since May 2017. It does not include town or parish councils.</p>

    <p>The underlying data changes a lot  during busy periods, however the CSV files are updated every five minutes.</p>


    <h2>Candidates</h2>
    <p>These file downloads contain a row for each candidate per election. The candidate's name and party are drawn from
        the official lists published by councils. All other information is added by Democracy Club or our volunteers.
        This additional information includes geographic data, contact details, and demographic information such as
        age.</p>

    <p>Each candidate is assigned a unique ID number, allowing for candidacies to be tracked across time.</p>

    <h2>Results</h2>

    <p>At present, we only collect votes cast for First-Past-the-Post elections. This includes spoilt ballot and turnout
        data for areas where this has been made available by the council. We publish winners and turnout for all other
        electoral systems, but not votes cast.</p>

    <p>If you have any questions or comments about our data, <a href="{% url "contact" %}">please contact us</a>.</p>




{% endblock main_content %}
