.idea/
*.log

*.py[codt]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env
env*
venv

# intellij
*.ipr
*.iml
*.iws

democracy_club/settings/local.py
democracy_club/settings/production.py

.DS_Store

# node
node_modules/

# bower packages
democracy_club/assets-src/vendor/
.sass-cache/
democracy_club/static_files
democracy_club/assets/uploads
democracy_club/static

.cache
.pytest_cache/
lambda-layers/DependenciesLayer/requirements.txt
.aws-sam
.vscode/