[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-wsgi = {file = "https://github.com/DemocracyClub/awsgi/archive/refs/tags/v0.2.8.tar.gz"}
django-cors-headers = "==4.3.1"
django-extensions = "==3.2.3"
django-localflavor = "==4.0"
django-model-utils = "==4.5.0"
django-storages = "==1.14.2"
djhtml = "*"
dc-django-utils = {file = "https://github.com/DemocracyClub/dc_django_utils/archive/refs/tags/6.0.1.tar.gz"}
dc-signup-form = {file = "https://github.com/DemocracyClub/dc_signup_form/archive/refs/tags/2.3.0.tar.gz"}
dc-design-system = {file = "https://github.com/DemocracyClub/design-system/archive/refs/tags/0.5.0.tar.gz"}
django-typogrify = {file = "https://github.com/matthewn/django-typogrify/archive/refs/tags/v2.0.tar.gz"}
jsonfield = "==3.1.0"
markdown-headdown = "==0.1.3"
psycopg2-binary = "==2.9.9"
sentry-sdk = "==2.8.0"
sorl-thumbnail = "==12.10.0"
Django = "==4.2.11"
Pillow = "==10.3.0"
Markdown = "==3.3.7"
feedparser = "==6.0.11"
pytz = "==2024.1"
urllib3 = "<3.0.0"
pre-commit = "*"

[dev-packages]
vcrpy = "==6.0.1"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-subtests = "*"
mock = "*"
model-mommy = "*"
ipdb = "*"
factory-boy = "*"
wheel = "==0.43.0"
pre-commit = "*"
ruff = "*"
pytest-ruff = "*"

[requires]
python_version = "3.10"

[scripts]
pytest = "pytest"
collectstatic = "python manage.py collectstatic --noinput --clear"

[pipenv]
allow_prereleases = true
