{% extends "base.html" %}
{% block content %}

{% for object in object_list %}
  <p>{{ object.user.username }} skipped
    <a href="{% url "everyelection:authority" object.authority_election.election_id %}">
      {{ object.authority_election.election_id }}</a>
      {% if object.notes %}
      with the comment:
      {% else %}
      , but didn't say why.
      {% endif %}
  </p>
  {% if object.notes %}
  <blockquote>{{ object.notes }}</blockquote>
  {% endif %}
{% endfor %}

{% endblock content %}
