{% extends "base.html" %}

{% block content %}

{% if elections_researched %}
<div class="panel callout radius">
  <h2>Your contributions</h2>
  <p>Thanks so much for helping out! You've:</p>
  <ul>
    <li>
      Researched
        <strong>{{elections_researched}}</strong> election{{ elections_researched|pluralize }}
    </li>
    <li>
      Found
        <strong>{{areas_researched}}</strong> area{{ areas_researched|pluralize }} that {{ areas_researched|pluralize:"has,have" }} an election
    </li>
  </ul>

</div>
{% endif %}

<h1>{{ object.authority.name }}</h1>

<div class="row">

  <div class="columns large-6">
    <h3>Find a list of wards up for election</h3>

    <p>This authority has <strong>{{ object.percent_to_words }}</strong> of its seats up for election.</p>

    <p>This could mean that every ward has an election (some wards have more than one councillor), or it could mean that only some wards have one or more councillors up for election.</p>

    <p>We need your help finding out which wards actually have an election, and how many seats are available in those elections.</p>

    <h3>Phone the council</h3>
    <p>You can <a href="tel:{{ object.authority.phone }}"><strong>call {{ object.authority.name }} on {{ object.authority.phone }}</strong></a> and:</p>
    <ol class="indent">
      <li>Ask to speak to their Democratic or Electoral services team</li>
      <li>Ask that team which seats are up for election on the 5th of May. We're looking for the number of seats available in each ward</li>
      <li>Remember that councils get a lot of calls, so you might be put on hold or not be able to speak with the right person on your first call.</li>
    </ol>

    <form method=post>
      {% csrf_token %}
      <p class="small">Check this box if for some reason you can't help out with this authority.</p>
      <label>Skip this authority
      <input type="checkbox" id="skip_authority">
      </label>
      <div class="hide" id="skip_form">
        <p>Please add some notes on why you're skipping this authority.
          Notes will be visible to other users</p>
        {{ skip_form.notes }}

        <input type=hidden name="skipped_form" value="1">
        <button type=submit class=button>Skip this authority</button>
      </div>
    </form>
    <p>For problems or general feedback, please
      <a href="mailto:hello@democracyclub.org.uk">email us at hello@democracyclub.org.uk</a>
      – We'd love to hear from you!</p>
  </div>

  <div class="columns large-6">
    <h3>Enter the number of seats up for election in each ward:</h3>
    <form method=post id="area_form">
      {% if form.errors.areas %}
        <label class="error">Please select at least one ward</label>
      {% endif %}
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field }} {{ field.label_tag }}
        </div>
      {% endfor %}

      <button type=submit class=button id="area_submit">Submit</button>
    </form>
  </div>

</div>


{% endblock content %}
{% block page_javascript %}
<script>

$("#area_submit").before(
  '<p><span class="ward_count">0</span>\
  of <span class="wards_total">{{ wards_total }}</span> wards</p>');

  $('#area_form input[type=number]').on('change keyup', function() {
    var total = 0;
    $('#area_form input[type=number]').each(function(index, el){
      var value = parseInt($(el).val(), 10);
      if (value > 0) {
        total +=1;
      }
    })
    $('.ward_count').text(total);
  })

  $('#area_form label').on('click', function() {
    $(this).prev('input').select();
  })

  //Skip form
  $('#skip_authority').on('click', function() {
    $('#skip_form').toggle();
    $('#area_submit').toggle();
  })
</script>
{% endblock page_javascript %}
