{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if request.user.is_staff %}
<section class="panel callout">
  <header>
    <h2>Shhh!  Admin area!</h2>
  </header>
<ul>
  <li><a href="{% url "everyelection:skipped_elections" %}">Skipped elections</a></li>
</ul>
</section>
{% endif %}
<h1>Every election</h1>
<h2>Help us find every seat up for election on the 5th of May 2016</h2>

<section class="row">
  <div class="columns large-6 small-12">
    <figure style="text-align:center">
      <img src="{% static 'everyelection/wards.png'%}">
      <figcaption class="small">
        Image credit
        <a href="https://commons.wikimedia.org/wiki/File:Norfolk_UK_ward_map_(blank).svg#mw-jump-to-license">
          wikipedia</a>
      </figcaption>
    </figure>
    <h3>Council elections</h3>
    <p>We know all the councils that have elections, but we don't know which
      wards within those councils have seats up for re-election.</p>
    <a href="{% url "everyelection:random_election" %}" class="button button-large button-cta">
      Help us find the seats</a>

  </div>



  <div class="columns large-6 small-12">
    <figure style="text-align:center">
      <img src="{% static 'everyelection/United_Kingdom.png'%}">
      <figcaption class="small">
        Image credit <a href="https://commons.wikimedia.org/wiki/File:United_Kingdom_EU.svg">wikipedia</a>
      </figcaption>
    </figure>
    <h3>What we already know</h3>
    <p>These are the elections we already know about.</p>
    {# <p>You can use our look up tool to find out more about the elections in your area</p> #}
    <a class="button button-large disabled">Find out about elections (Coming soon!)</a>

  </div>
</section>
{# <section> #}
{#   <hr> #}
{#   <div class="large-6 columns"> #}
{#     <h1>{{ authorities_researched }}</h1> #}
{#     <h3>Councils researched</h3> #}
{#   </div> #}
{#   <div class="large-6 columns"> #}
{#     <h1>Top researchers</h1> #}
{#     <table> #}
{#       <thead> #}
{#         <th>Username</th> #}
{#         <th>Number of councils researched</th> #}
{#       </thead> #}
{#       <tbody> #}
{#         {% for user in top_users %} #}
{#         <tr> #}
{#           <td>{{ user.user__username }}</td> #}
{#           <td>{{ user.count }}</td> #}
{#         </tr> #}
{#         {% endfor %} #}
{#       </tbody> #}
{#     </table> #}
{#   </div> #}
{#  #}
{# </section> #}

{% endblock content %}
