{% load thumbnail %}
{% load typogrify_tags %}
{% if posts %}
<h2>On the blog</h2>
<ul class="post-list ds-grid">
{% for post in posts %}
<li class="ds-card">
  {% if post.hero %}
  {% thumbnail post.hero "690" as im %}
  <div class="ds-card-image"><img src="{{ im.url }}"></div>
  {% endthumbnail %}
  {% endif %}
  <div class="ds-card-body">
    <h3><a class="ds-card-link ds-h5" href="{{ post.get_absolute_url }}">{{ post.subject }}</a></h3>
    <p>
      {{ post.rendered_summary|safe|typogrify }}
    </p>
  </div>
</li>
{% endfor %}
</ul>
<a href="{% url "hermes_post_list" %}?tag={{tag}}" class="ds-cta">More posts</a>
{% endif %}
