{% extends "polling-stations/polling_stations_base.html" %}
{% load django_markdown %}
{% load staticfiles %}


{% block page_title %}
<h1>Polling station finder</h1>
{% endblock page_title %}

{% block main_content %}
{% filter markdown %}

<h3>All you need to help people in your area to find their polling station.</h3>
<figure>
<img src="{% static 'images/where-on-phone.jpg' %}" alt="A screenshot of WhereDoIVote.co.uk showing a polling station in Cardiff">
<figcaption>A screenshot from Democracy Club's WhereDoIVote.co.uk service</figcaption>
</figure>

<style>
  .highlight_card {
    border:1px solid black;
  }
</style>


One of the most common questions from voters on election day is “_where do I vote?_”. We try to get people answers.

Our polling station finder can be used by voters wherever they look.
On our own <a href="https://whocanivotefor.co.uk">WhoCanIVoteFor.co.uk</a>
website, their local council website, their local news website or on
The Electoral Commission's YourVoteMatters website.

Voters don’t need to know which ward or constituency they’re in or who manages their elections —
we just get them the answer they’re searching for, in seconds.

## Plans and pricing for local authorities


<div class="card">
<h3>Basic: free</h3>

<ul>
<li>Finds the polling station assigned to a property</li>
<li>Support postcosts that overlap polling district boundaries</li>
<li>Data import from your EMS*</li>
<li>Data included on the Electoral Commission’s YourVoteMatters lookup as well as other sites we partner with</li>
<li>Embeddable widget on your website</li>
</ul>
<a class="link-button" href="{% url 'polling_data_upload' %}">Upload data now</a>
</div>

<div class="card highlight_card">
<h3>Pro: £450 per year</h3>

All basic feautres, plus:
<ul>
<li>Coverage for all scheduled elections, and all national elections</li>

<li><a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/services/505951175500567">Approved on the Government’s Digital Marketplace (G-Cloud 10)</a></li>
<li>Personal contact for support queries</li>
<li>Rapid response to last minute changes, including on polling day</li>
<li>Customizable embedded widget to match your council colours</li>
<li>Detailed usage reporting</li>
<li>Early warning of errors</li>
<li>Democracy Club stickers for your team!</li>
</ul>
<a class="link-button">Buy now</a>
</div>
<div class="card">
<h3>Bespoke: £contact us</h3>
<ul>
<li>Support for all by-elections</li>
<li>Custom information about each polling station, for example accessibility information, photos</li>
<li>Bespoke integration in to your website</li>
</ul>
<a class="link-button" href="{% url 'contact' %}">Contact us</a>
</div>


#### Existing customers

See the guidance for <a href="{% url 'polling_data_upload' %}">how to export data from your EMS</a>.

{% endfilter %}

{% filter markdown %}
*Want to talk to a human? Please email [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk) or call Sym on [07742079314](tel:07742079314)*
{% endfilter %}

{% endblock main_content %}

