{% extends "polling-stations/polling_stations_base.html" %}
{% load django_markdown %}

{% block main_content %}
<h1>Where Do I Vote</h1>
{% filter markdown %}

<img src="/static/images/where_screenshot.png" alt="A screenshot of WhereDoIVote.co.uk showing a polling station in Cardiff">

*If you would like to talk to us about this project, please email [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk) or call Sym on [07742079314](tel:07742079314)*

One of the most common questions from voters on election day is “_where do I vote?_”. We answer this question with our polling station finder platform that can be used by voters searching on the internet, or on embedded versions on local authority web sites.

We work with local government to establish internal best practice for publishing open data on polling stations — which means it becomes incredibly easy for voters to find it. Voters don’t need to know which ward or constituency they’re in, who manages their elections — we just get them the answer they’re searching for, in seconds.

## Features

* Finds the polling station assigned to a property, not the closest one
* Supports postcode areas that overlap district boundaries
* Updates automatically when the underlying data changes*
* Supports last minute changes, in the case of emergencies and closed polling stations
* Embeddable in your web site
* Fully customisable and white-label versions on request
* Almost any data format supported
* High performance and scalability ensures uptime on the busiest of elections
* Fully featured API


\* For Gold+ and Silver+ data only



{% endfilter %}

<div class="row">
    <div class="columns large-6 text-center">
        <a href="{% url "polling_data_upload" %}" class="button success">Upload your data</a>
        <p>If you're in a local authority, you can upload your data to the
            platform and help your electorate find where to vote</p>
    </div>
    <div class="columns large-6 text-center">
        <a href="{% url "polling_embed_code"%}" class="button success">Embed on your web site</a>
        <p>Get the embed code to add a polling station finder to your own site</p>
    </div>
</div>

{% endblock main_content %}

