{% extends "polling-stations/polling_stations_base.html" %}
{% load django_markdown %}


{% block page_title %}
<h1>Polling station finder</h1>
{% endblock page_title %}

{% block main_content %}
{% filter markdown %}

<h3>All you need to help people in your area to find their polling station.</h3>

<img src="/static/images/where-on-phone.jpg" alt="A screenshot of WhereDoIVote.co.uk showing a polling station in Cardiff">

*A screenshot from Democracy Club's WhereDoIVote.co.uk service, embeddable in council websites.*

One of the most common questions from voters on election day is “_where do I vote?_”. We try to get people answers.

Our polling station finder can be used by voters searching on the internet or on their local council website.

We work with local government to establish internal best practice for publishing open data on polling stations — which means it becomes incredibly easy for voters to find it. Voters don’t need to know which ward or constituency they’re in or who manages their elections — we just get them the answer they’re searching for, in seconds.

## Features

* Finds the polling station assigned to a property, not the closest one
* Doesn't require voters to know their way around local government
* Supports postcode areas that overlap district boundaries
* Supports last minute changes, in the case of emergencies and closed polling stations
* Embeddable in your web site
* Fully customisable and white-label versions on request
* Almost any data format supported
* High performance and scalability ensures uptime on the busiest of elections
* Fully featured API


## Data changes

We only use data sent to us for the elections you tell us it's valid for.
If we're not sure we don't re-use data between elections, and we will email you asking
for updates.


For last minute changes, including on polling day, you can email us and we will make
changes to the data on the live site. In the worse case we can remove all your data from
the site very quickly, just get in touch.


## Data restrictions

We don't need personal data to run the polling station finder but we do need
UPRNs or data that from some of OS's products depending on the type of data you are
able to provide us with.

We have an agreement with The Electoral Commission under the Public Sector Mapping Agreement
that allows us to receive data that's in AddressBase including UPRNs.

If you send us geospatial data that's created from OS's BaseMap then this can be made public
under ‘presumption to publish’.
[You can read more about this here](http://www.ordnancesurvey.co.uk/docs/public-disclosures/presumption-to-publish-guidance-march-2015.pdf).

We suggest that you publish Geo data as a WFS layer from your GIS software.


## Using the finder on your website

If you provide data to us then you can embed out polling station directly on
your website, free of charge.

You'll need to add a bit of code to your site.
[Find out how]({% url "polling_embed_code" %}).


{% endfilter %}

<a href="{% url "polling_data_upload" %}" class="link-button">How to send us data</a>
<a href="{% url "polling_embed_code"%}" class="link-button">Embed on your web site</a>

{% filter markdown %}
*Want to talk to a human? Please email [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk) or call Sym on [07742079314](tel:07742079314)*
{% endfilter %}

{% endblock main_content %}

