{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
<div class="site-wrapper__body-text">

    {% block page_title %}{% endblock page_title %}
    <nav class="inline_page_nav">
      <ul>
        <li><a href="{% url "polling_one_pager" %}">Overview</a></li>
        <li><a href="{% url "polling_faqs" %}">FAQs</a></li>
        <li><a href="{% url "polling_embed_code" %}">Embed code</a></li>
        <li><a href="{% url "polling_data_upload" %}">Send us Data</a></li>
      </ul>
    </nav>

{% block main_content %}
{% endblock main_content %}
{% block page_menu %}
{% endblock page_menu %}

</div><!-- /.site-wrapper__body-text -->
{% endblock content %}

