{% extends "polling-stations/polling_stations_base.html" %}
{% load markdown_deux_tags %}

{% block main_content %}
<h1>Polling districts and station data</h1>
{% filter markdown %}

We've put together this handy guide to polling district and station data. Go for gold! 

<table>
  <thead>
    <tr>
      <th>Level</th><th>Polling Districts</th><th>Polling Stations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Gold</td>
      <td>Geo data for polling districts with explicit district ID to station ID lookup</td>
      <td>Address, Grid ref</td>
    </tr>
    <tr>
      <td>Silver</td>
      <td>Address-to-Polling-Station lookup table</td>
      <td>Address, Grid ref</td>
    </tr>
    <tr>
      <td>Bronze</td>
      <td>Geo data for polling districts without explicit district ID to station ID lookup (we may have to make assumptions or provide partial coverage)</td>
      <td>Address, Grid ref</td>
    </tr>
    <tr>
      <td>Lead</td>
      <td>Geo data or Address lookup</td>
      <td>No Grid references (We have to geocode)</td>
    </tr>
    <tr>
      <td>Must try harder</td>
      <td>PDF</td>
      <td>PDF</td>
    </tr>
  </tbody>
</table>


## Gold standard data


### 1. Polling districts

Gold standard data looks like a spatial dataset describing the boundaries of polling districts in an open
geographic format (e.g: KML, GeoJSON, SHP). This is often produced by GIS teams
in local authorities.

For each district it should contain:

* Boundary for each polling district
* At least one unique ID
* A name (optional but nice)
* An explicit mapping to a polling station (polling station id)[^polling-ids]


### 2. Polling station locations

**Either** A list of all polling station addresses in a local authority (in a
format like CSV, TSV, Excel, JSON)

**Or** A spatial dataset describing the locations of polling stations in an open
geographic format (e.g: KML, GeoJSON, SHP).

The data for each station should include:

* An address,
* A postcode,
* At least one unique ID,
* A grid reference (lat/lng or UK national grid),
* A name (optional but nice), and
* An explicit mapping to a polling district (polling district id)[^polling-ids].


### Advantages

* Users will be directed to the correct polling station for their district, not their nearest station
* Full coverage of the local authority will be available
* All addresses will map to a polling station correctly, even if different addresses in the same postcode map to different stations
* No geocoding/processing will be done on the data
* No assumptions will need to be made about the data


### Go even further, with GoldPlus!

This is when Gold standard data is published via an API or at a predictable URL.

This means that if we're made aware of updated data, the finder can be updated within 48 hours.

## Silver standard data

### 1. Polling districts

This looks like a list of all registered addresses in local authority with a polling station explicitly
assigned to each one. This can be derived from the electoral register, with all personal
information removed.

For each address it should contain:

* A complete address,
* A postcode,
* A polling Station ID,
* A UPRN (optional). 

### 2. Polling station locations

**Either** all polling station addresses in local authority (in a format like CSV, TSV, Excel, JSON),

**Or** A spatial dataset describing locations of polling stations in an open geographic format (e.g: KML, GeoJSON, SHP).

The data for each station should include:

* An address,
* A postcode,
* At least one unique ID,
* A grid reference (lat/lng or UK national grid),
* A name (optional but nice). 

### Advantages

* Users will be directed to the correct polling station for their district, not their nearest station
* Full coverage of the local authority will be available
* All supplied addresses will map to a polling station correctly, even if different addresses in the same postcode map to different stations
* No geocoding/processing will be done on the data
* No assumptions will need to be made about the data

### Disadvantages

Postcodes not in the dataset (e.g: those assigned to business addresses) will
not map to anything.

### Go further, with Silver Plus! 

Publish silver standard data via an API or at a predictable URL. Then if Democracy Club are made aware of updated data, the website can be updated within 48 hours.


## Below silver standard

As per the table above, we can deal with data that doesn't quite meet Silver standard, but the following issues may occur:

* Geocoding may need be done on the data
* Assumptions may need to be made about the data (although we _never_ assume that the closest polling station is the correct one)
* It may not be possible to deliver full coverage of the local authority



[^polling-ids]: We only need IDs from station to district *or* district to station.  Both are supported.

*More questions? Talk to a human. Email
[pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk)
or call Sym on [07742079314](tel:07742079314).*



{% endfilter %}

{% endblock main_content %}
