{% extends "base.html" %}
{% load django_markdown %}

{% block content %}

<section class="large-8">
<h1>Open Polling Station data</h1>
{% filter markdown %}
*If you would like to talk to us about this project, please email [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk) or call Sym on [07742079314](tel:07742079314)*

## Technical requirements


### Background

In the England, Scotland and Wales, councils are responsible for managing their polling stations (Northern Ireland has a single Electoral Office that manages them all).

This includes ensuring that the buildings themselves are accessible to everyone, and assigning the houses in the local area to vote at the correct polling station.  Votes at a polling station can only be cast from people at the allocated house, however the allocation varies depending on what polling stations are open for a given election.

## The two datasets

There are two bits of information that are needed in order to find out at what polling station a given address is able to vote:

1. **The location of the polling stations**, and
2. **The houses that can vote at that polling station**


## How to open this data

We currently know of two main ways that this data is stored by councils:


###  Option 1: 'Shapefiles' GIS software
This normally means that the council's GIS team maintain a list of **_points_** (polling stations) that have IDs, and a set of **_polygons_** (shapes on a map) that define the polling district.

If this is the case, then the data can normally be exported from the GIS software quickly.  The ownership of the data normally falls between the council and OS.  If the OS basemaps have been used to create the shapes, then the data is publishable under 'presumption to publish'.  You can read more about this [in an example from the OS about polling district data drawn using BaseMap (PDF, slides 34-38)](http://www.ordnancesurvey.co.uk/docs/public-disclosures/presumption-to-publish-guidance-march-2015.pdf)

We can deal with most geographical formats when we import the data, including:

* [GeoJSON](https://en.wikipedia.org/wiki/GeoJSON)
* [Shapefile](https://en.wikipedia.org/wiki/Shapefile)
* [KML](https://en.wikipedia.org/wiki/Category:Keyhole_Markup_Language)

If you use a different format, there is a high chance we can work out how to import it in to our system.


### Option 2: Lists of UPRNs

This normally looks like a list of [Unique Property Reference Numbers](http://www.ordnancesurvey.co.uk/about/governance/policies/addressbase-uprn.html) with the polling station ID attached to each of them.

The list of polling stations is still required, with an ID that allows linking to the UPRN list.

We can accept almost any sort of format of data, including:

* CSV
* Excel
* TSV
* JSON

If you use a different format, there is a high chance we can work out how to import it in to our system.

## How to publish

The best case scenario is that the council publishes this data at a reliable URL in a predictable format on their web site directly.  This means we only need a URL for both datasets, and we can import them often, ensuring that the data is always up to date.

Alternatively, we will accept data emailed to [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk), or uploaded to a data portal like [data.gov.uk](http://data.gov.uk/).


## Embedding

If you publish the data in the open for us to use, you are able to use [our service](http://pollingstations.democracyclub.org.uk/) on [your web site directly](https://democracyclub.org.uk/blog/2015/04/01/how-polling-station-finder-helps-councils/).  [Talk to us]({% url "contact"%}) about how to go about doing this.

### Problems?

If there is anything wrong with this page, please [contact us]({% url "contact"%}) and we'll fix it.  If you know of another system of publishing this data, please let us know!

{% endfilter %}

</section>
{% endblock content %}
