{% extends "polling-stations/polling_stations_base.html" %}
{% load django_markdown %}

{% block page_title %}
<h1>Polling station finder</h1>
{% endblock page_title %}


{% block main_content %}
{% filter markdown %}

Our polling station finder uses data sent to us from councils.

**If you work in a council you can send us data by emailing
[pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk).**

Please send us new data for each election, or confirm that it has not changed.

## Exporting from your EMS

Some suppliers have added exports in their software to make it easy to email us the data.
Ideally this export would also include property and/or polling station UPRNS, but this is not essential. 

### Halarose

There is a Knowledge Base Article (KBA) about how to export data. Click on
"Democracy Club" in the tag cloud or use this link:
[https://www.halarose.co.uk/helpspot/index.php?pg=kb.page&id=384](https://www.halarose.co.uk/helpspot/index.php?pg=kb.page&id=384)

### Xpress

The Democracy Club report is in "Express Management" under "Elections/Exports"
and the report is called "EC &amp; Democracy Club Polling Place Lookup".

### Democracy Counts / Elector8

For Elector8 Users, go to "Planning &amp; Reporting" then "Category Searches"
and select both of the following:

* Democracy Club - Polling Districts
* Democracy Club - Polling Stations

### Idox

Unfortunately Idox haven't provided an easy export yet, but they are working on it.
It's worth emailing [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk)
anyway, as we might be able to work with your GIS team on getting data.


{% endfilter %}
{% endblock main_content %}

