{% extends "about/about_base.html" %}
{% block page_title %}Funding{% endblock page_title %}
{% block page_heading %}<h1>Funding</h1>{% endblock page_heading %}

{% block main_content %}
    <h2>Funding policy</h2>
    <p>Any donations made to Democracy Club are for the sole purpose of delivering the vision of the organisation as
        determined by the executive and board team.</p>

    <p>Where a donation is 'restricted' to a particular project, as is common with charitable grants, such projects must
        align with the vision of the organisation.</p>

    <p>Democracy Club is strictly <a href="https://democracyclub.org.uk/blog/2023/02/17/democracy-club-and-political-impartiality/">non-partisan</a>; donations will never be used for partisan purposes.</p>

    <p>Democracy Club will make all reasonable efforts to perform due diligence on donors who give more than £5,000. For
        example, although we are not a charity, we will make use of the
        <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/550694/Tool_6.pdf">Know Your Donor</a>
        guidelines provided by the Charities Commission.</p>

    <p>We will publish the name of donors who give over £5,000 within a 12-month period, along with the amount given.</p>

    <p>Democracy Club aims to be transparent in our fundraising and spending. Please do not hesitate to contact us if you
        have concerns or questions.</p>

    <h2 id="full-record-of-funders">Full record of funders</h2>

    <p>In the interests of transparency — and of encouraging others to join them</a>! — here are the donors and the
    customers we’ve had so far.</p>

    <div class="ds-card ds-padded">
        <div class="ds-table">
            <table>
                <caption>Donations £5,000 and above</caption>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>Google.org</td>
                    <td>General election 2015 support</td>
                    <td>$30,000</td>
                </tr>
                <tr>
                    <td>JRSST Charitable Trust</td>
                    <td>Polling location finder 2016</td>
                    <td>£21,250</td>
                </tr>
                <tr>
                    <td>Unbound Philanthropy</td>
                    <td>To encourage civic engagement through online tools, 2016-2018</td>
                    <td>£100,000</td>
                </tr>
                <tr>
                    <td>Unbound Philanthropy</td>
                    <td>For support of research and application of findings to improve participation by low-propensity voters, 2018-2020</td>
                    <td>£100,000</td>
                </tr>
                <tr>
                    <td>Garvin Brown</td>
                    <td>General support, 2019</td>
                    <td>£25,000</td>
                </tr>
                <tr>
                    <td>Joseph Rowntree Charitable Trust</td>
                    <td>Support for election candidates data, 2019-2020</td>
                    <td>£75,000</td>
                </tr>
                <tr>
                    <td>Joseph Rowntree Charitable Trust</td>
                    <td>Support for election candidates data, 2021 and representatives project research</td>
                    <td>£50,000</td>
                </tr>
                <tr>
                    <td>Joseph Rowntree Charitable Trust</td>
                    <td>Representatives project, 2023-24</td>
                    <td>£100,000</td>
                </tr>
                <tr>
                    <td>Luminate Foundation</td>
                    <td>Core funding</td>
                    <td>£78,839.70</td>
                </tr>
                <tr>
                    <td>Nesta</td>
                    <td><a href="https://www.nesta.org.uk/blog/meet-19-pioneers-shaking-democracy/">2020 Democracy Pioneers Award</a></td>
                    <td>£10,000</td>
                </tr>
                <tr>
                    <td>Simon Tuttle</td>
                    <td>Tooling to improve transparency regarding candidate electoral histories</td>
                    <td>£5,000</td>
                </tr>
                <tr>
                    <td>Scurrah Wainwright Charity</td>
                    <td>Elections, 2022</td>
                    <td>£5,000</td>
                </tr>
                <tr>
                    <td>Joseph Rowntree Reform Trust</td>
                    <td>ElectionLeaflets.org, 2024</td>
                    <td>£9,300</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ds-card ds-padded">
        <div class="ds-table">
            <table>
                <caption>Donations in kind</caption>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>Bethnal Green Ventures</td>
                    <td>Office space, mentoring and introductions, Jan-Apr 2016</td>
                    <td>~£5,000</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ds-card ds-padded">
        <div class="ds-table">
            <table>
                <caption>Sales income generated</caption>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>NUS Wales / Welsh Government</td>
                    <td>Polling location finder 2016 (particularly Welsh-language version of Where Do I Vote? and data for Wales)</td>
                    <td>£19,200</td>
                </tr>
                <tr>
                    <td>LGiU / Open Data Institute</td>
                    <td>Results recorder, local elections 2016</td>
                    <td>£6,000</td>
                </tr>
                <tr>
                    <td>London First</td>
                    <td>Polling location finder, voter registration data visualisation, EU Referendum 2016</td>
                    <td>£36,000</td>
                </tr>
                <tr>
                    <td>Open Data Institute</td>
                    <td>Research and report on registers, 2018</td>
                    <td>£34,560</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections 2017</td>
                    <td>£50,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, General election 2017</td>
                    <td>£18,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections 2018</td>
                    <td>£47,500</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections 2019</td>
                    <td>£60,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, European Parliamentary Elections 2019</td>
                    <td>£38,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, General election 2019</td>
                    <td>£44,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections 2020</td>
                    <td>£37,500</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections 2021</td>
                    <td>£68,145</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>API develpoment, hosting and support</td>
                    <td>£25,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections, 2022</td>
                    <td>£79,700</td>
                </tr>
                <tr>
                    <td>London Elects</td>
                    <td>API use and support for the 2021 London Mayoral election</td>
                    <td>£14,000</td>
                </tr>
                <tr>
                    <td>House of Commons</td>
                    <td>Aligning data models and training, 2022</td>
                    <td>£9,600</td>
                </tr>
                <tr>
                    <td>Reach PLC</td>
                    <td>API provision and improvements, 2022</td>
                    <td>£7,560</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data, Local elections, 2023</td>
                    <td>£111,800</td>
                </tr>
                <tr>
                    <td>Welsh Government</td>
                    <td>
                        <a href="https://democracyclub.org.uk/blog/2022/04/20/pwy-alla-i-bleidleisio-ar-gyfer/">
                            Welsh translation of WhoCanIVoteFor.co.uk, 2022
                        </a>
                    </td>
                    <td>£88,860</td>
                </tr>
                <tr>
                    <td>London Elects</td>
                    <td>Polling stations API for May 2024 election</td>
                    <td>£18,000</td>
                </tr>
                <tr>
                    <td>Welsh Government</td>
                    <td>Acessability information for polling stations, 2024 pilot</td>
                    <td>£35,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>Candidate and polling location data and additional infrastructure work, 2024</td>
                    <td>£149,000</td>
                </tr>
                <tr>
                    <td>Electoral Commission</td>
                    <td>General Election, 2024</td>
                    <td>£217,000</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock main_content %}
