{% extends "about/about_base.html" %}
{% load static %}
{% load markdown_filter %}
{# fmt:off #}

{% block page_heading %}<h1>Our impact</h1>{% endblock page_heading %}

{% block main_content %}
  {% filter markdown %}

  {% endfilter %}

  <div id="always-be-hiring" class="ds-stack">
    {% filter markdown %}

In our short history, Democracy Club has reached millions of voters with high-quality, accurate election information.
  We’ve also made great strides towards bringing the UK’s democratic infrastructure into the digital age through our
  work with local and central government.

We’ve provided data services and tools to individual charities and news outlets such as the Fawcett Society and Times
  newspaper; we’ve partnered with major media companies such as Reach, Sky News, Facebook and Twitter; and we’ve received
  endorsements from the Electoral Commission, UK Parliament, and the Association of Electoral Administrators.

You can find a roundup of media articles about us on our media page, or read about our work during past elections on our [reports page](https://democracyclub.org.uk/projects/reports/).


The tables below provide an overview of our work to date, measured in three ways: number of postcode searches, user satisfaction,
  and council engagement.

  From a standing start in 2015, we have served over ten million postcode searches from UK voters, substantially improved our feedback year-on-year,
      and worked with virtually every single local authority in the UK to improve their voter information output.


## Postcode searches

Our polling station and candidate databases have handled over ten million postcode searches since 2015. Our own research suggests
  that our tools are effective at reaching less engaged groups, particularly younger voters.


<figure>
<img src="{% static "images/impact-figure-1.png" %}" alt="Figure 1">
<figcaption>
  <p>Figure 1 gives the number of individual UK postcode searches processed by our elections database for the week of
    each named election (00:00 Monday to 22:00 Thursday).</p>
</figcaption>
</figure>



## User feedback
After entering a postcode and receiving a result, users of our two websites WhereDoIVote.co.uk and WhoCanIVoteFor.co.uk are prompted
  to answer the question, ‘did you find what you were looking for?’

<figure>
  <img src="{% static "images/impact-figure-2.png" %}" alt="Figure 2">
  <figcaption>
    <p>Figure 2 gives the proportion of users who answered ‘yes’ to this question during the week of each election
      (00:00 Monday to 22:00 Thursday).
      While WhereDoIVote ratings have always been high, WhoCanIVoteFor shows an obvious and sustained upwards trend
      since we started collecting
      feedback in 2018. This reflects our steady improvement of the site and addition of extra information.</p>
  </figcaption>
</figure>

We also recieve thousands of pieces of written feedback from voters each year. Here are some examples:
    
>I find politics a difficult topic to understand, and not only is this website a simple layout and design, you also outline what each of the elected people’s roles will entail.

>Couldn’t be clearer! Very helpful for a first-time voter in this constituency (have just moved here).
    
>I am disabled and registered visually impaired. This site was so so easy to use. All the information I need is right there.
    
>Having walked to the place where I have previously voted - only to find it shut - I felt somewhat at a loss as to where to go. Until I accessed this site.

## Making change in the state
We have developed an excellent working relationship with English, Scottish and Welsh local government, from whom we source the data to
  power our polling station finder.

Over 90% of GB councils now provide polling station data to us, and more than half use our tools in their election communication
  campaigns. Since 2018, our polling station and candidate data has been used by the Electoral Commission to power the look-up tool on its own website.

<figure>
  <img src="{% static "images/impact-figure-3.png" %}" alt="Figure 2">
  <figcaption>
    <p>Figure 3 gives the proportion of GB councils taking part in each election who have provided us with polling
      station data over the last five years.</p>

    <p>Please note: the number of councils involved in each election varies, ranging from 152 in 2018, to 371 in 2021.
      Elections involving fewer than 100% of GB
      councils are coloured pink on the graph. Elections in Northern Ireland are organised by Elections Office
      Northern Ireland, who run their
      own polling station finder.</p>
  </figcaption>
</figure>





    {% endfilter %}
  </div>
{% endblock main_content %}
