{% extends "about/about_base.html" %}
{% load django_markdown %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block extra_page_css %}
<style>
blockquote {
  font-style: italic;
  font-size: 1em;
  margin: 0;
  color: #999;
  padding: 0rem 1rem;
  border-left: .25rem solid #999;
  display: block;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
{% endblock %}

{% block page_heading %}<h1>About</h1>{% endblock page_heading %}

{% block main_content %}

<article>

{% filter markdown %}

### Our vision is of a country with the digital foundations to support everyone’s participation in democratic life.

Our mission is to create those foundations by:

- Identifying areas for improvement in democratic engagement;
- Ensuring everyone has access to quality information on democratic processes, particularly on elections;
- Mobilising a non-partisan movement of volunteers for democracy.

We are non-partisan and we work openly. We’re a community of 10,000 volunteers and a small core team.

We don’t have a view of ‘the perfect democracy’. Instead, we try to make constant iterative improvements based on citizens’ needs. We judge those needs based on publicly available research, feedback on our websites and online search data.

In this video from March 2016, Joe Mitchell — a co-ordinator at Democracy Club - explains how we try to do this.

<div class="videoWrapper">
<iframe width="560" height="315" src="https://www.youtube.com/embed/efA1l9q7a1M" frameborder="0" allowfullscreen></iframe>
</div>

## What we do

### The club

We coordinate a club of thousands of democracy volunteers, who do small online tasks to help make democracy better. The club help create our Data and Apps.

### Data

We create the tools to aggregate data for democracy and make it available to everyone. This includes lists of elections, candidates and polling locations. Our data is trusted by the Electoral Commission, Google, Facebook, the Guardian and more.

### Apps

We build apps to answer direct questions from voters, such as 'Who can I vote for?' and 'Where do I vote?'.

Try out the Apps and get the Data via our [Projects page](http://democracyclub.org.uk/projects).


## What people say about us

Our data has reached over 12m people. Here’s what some of them say:

> “Amazing accessible website that encourages people to vote by its sheer simplicity.”

<!---->

> “This was a very quick and precise answer to my question. Well Done!”

<!---->

> “Exactly what I was looking for. I appreciate the work of democracyclub and its supporters in providing this resource.”

### People who work on democracy trust us
{% endfilter %}

<p>
<blockquote>
    “We've been impressed by Democracy Club's attention to detail and ability to make things work. We have complete trust in the data they provide and are highly supportive of their efforts to help voters get more information about elections.”
</blockquote>

<strong>— Stuart Harrison, Senior Communication Officer, The Electoral Commission</strong>
</p>

<p>
<blockquote>
    “Democracy Club provide reliable, vital and timely election-related data that is a great boon for democracy in the UK.”
</blockquote>

<strong>— Patrick Dunleavy, Professor of Political Science and Public Policy, London School of Economics</strong>
</p>

<p>
<blockquote>
        “...making this information available centrally will become an invaluable service for citizens...”
</blockquote>

<strong>— The Minister for the Constitution</strong>
</p>

{% filter markdown %}
### Here’s a roundup of articles about us

- Oxford City Council (2017) *[“Collaboration, Not Reinvention”](http://digital.oxford.gov.uk/blog/2017/05/17/collaboration-not-reinvention)*
- TBD (2017) *[“Democracy Club”](https://www.tbd.community/en/a/democracy-club-uk)*
- The Guardian (2017) *[“Democracy? There’s an app for that”](https://www.theguardian.com/politics/2017/jun/06/democracy-theres-an-app-for-that-the-tech-upstarts-trying-to-hack-british-politics)*
- The Guardian (2017) *[“Why are British voters in the dark about this week’s elections?”](https://www.theguardian.com/commentisfree/2017/may/03/british-voters-local-elections-councils)*
- The Guardian (2017) *[“Our democracy is broken, debased and distrusted – but there are ways to fix it”](https://www.theguardian.com/commentisfree/2017/jan/25/democracy-broken-distrusted-trump-brexit-political-system)*
- The Electoral Commission (2017) *[“How We Set Up A Campaign In 12 Days”](https://ukelectoralcommission.wordpress.com/2017/09/14/how-we-set-up-a-campaign-in-12-working-days/)*
- The Electoral Commission (2017) *[“Partnerships”](https://www.electoralcommission.org.uk/find-information-by-subject/electoral-registration/2017-uk-general-election-campaign/partnerships)*
- TechPresident (2015) *[“Democracy Club Finally Lets Brits Know Who Is Running For Parliament”](http://techpresident.com/news/25519/democracy-club-brings-transparency-uks-obscure-election-procedures)*



## Who funds us

Ideally, you do. [Chip in £3/month here](https://democracyclub.org.uk/donate/). Your donations will mean we can do this work openly, for everybody.

We also seek funds via grants and sales. You can see [our funding policy and history here](https://democracyclub.org.uk/about/funding/). 

{% endfilter %}

</article>
{% endblock main_content %}
