{% extends "about/about_base.html" %}
{% load markdown_filter %}

{% block page_title %}About us{% endblock page_title %}

{# fmt:off #}

{% block page_heading %}<h1>About us</h1>{% endblock page_heading %}

{% block main_content %}

{% filter markdown %}

<p class="ds-h4">Democracy Club produces the most comprehensive election data in the UK.</p>

Our vision is of a country with the digital foundations to support everyone's
participation in democratic life.

Established in 2010 to collect information on the candidates running in that year's
general election, Democracy Club was registered as a Community Interest Company in
2015. We now run a national online polling station finder and candidate database, serving election information to [millions of UK](https://democracyclub.org.uk/research/impact/) voters earch year.

In our short history we have transformed the accessibility of UK elections. We've
opened up the online civic space, providing [non-partisan platforms](https://democracyclub.org.uk/blog/2023/02/17/democracy-club-and-political-impartiality/) which enable
citizens to scrutinise, evaluate, and engage directly with their politicians and
candidates. We've delivered personalised election information to well over ten
million people since 2018. In a world which is increasingly concerned about the
effect of the internet on democracy, we're using digital and data to inform and
empower. 

**[Read our current organisational strategy](https://democracyclub.org.uk/blog/2022/01/05/2022-and-beyond-an-updated-strategy/).**

Working alongside other organisations is at the core of what we do. A data supplier to the [Electoral
Commission](https://democracyclub.org.uk/blog/2023/10/25/case-study-electoral-commission/)
since 2017, we have also worked with local and national government across all four
UK nations. 

Working alongside other organisations is at the core of what we do. Our tools are used widely across UK civil society, from student unions and civic education organisations through to social media companies.  We've also enabled groups supporting the most marginalised to get their members engaged and voting, such as migrants, Roma and Travellers, and people with learning disabilities and autism. Our candidate data is [free to download](https://democracyclub.org.uk/data_apis/data/), and our postcode lookup can be accessed via [an API](https://democracyclub.org.uk/data_apis/voting_information_api/), allowing other organisations to build their own tools.

**Democracy Club is widely regarded as a core infrastructure project within the UK
democracy sector.**

## How we work

Democracy Club consists of a small core team of full-time software developers,
data specialists, geospatial engineers and election experts. The team is supported
by an online network of hundreds of volunteers who assist with compiling and
maintaining our databases.

Much of our work involves collecting data from the UK's approximately 350 local authorities, either by communicating with them directly or taking information from their websites using our unique infrastructure of automated 'scrapers'. Working with our amazing volunteers, we aggregate this data and publish it for use by anyone. 

We are committed to open data. We believe that making the data that we collect available to everyone is the best way of empowering the most people to vote.

**[Meet the team](/about/team/)**

## Community and volunteers

Democracy Club's candidate database is compiled and maintained by volunteers. Our volunteers are non-partisan, either interested in democracy, open source technology, or both. 

The focus of this work occurs every year in March and April, when candidate lists are published for the May local elections. We rely on our volunteers to collect these (mainly PDF) documents and enter the information into [our database](https://candidates.democracyclub.org.uk/), with a little help from our automation software. We then enrich this data with extra information like contact details or manifestos. In 2022, which was a relatively quiet election, 1,500 volunteers made 64,000 edits to our database, collecting details on over 21,000 individual candidates.

We also host an online community of more than 1,000 members and a [mailing list](https://mailinglist.democracyclub.org.uk/subscription/form) with thousands of subscribers.

## What people say about us

Our data has reached millions of people since 2015. Here's what some of them say:

> “Amazing accessible website that encourages people to vote by its sheer simplicity.”

> “This was a very quick and precise answer to my question. Well Done!”

> “Exactly what I was looking for. I appreciate the work of democracyclub and its supporters in providing this resource.”

## People who work in democracy trust us

> “We've been impressed by Democracy Club's attention to detail and ability to make things work. We have complete trust in the data they provide and are highly supportive of their efforts to help voters get more information about elections.”

— Stuart Harrison, Senior Communication Officer, The Electoral Commission

> “This is great - you offer a fantastic service, it is a real help to us and our electors. We really appreciate it.”

— Seth Alker, Head of Electoral Services, London Borough of Croydon

  > “Democracy Club provide reliable, vital and timely election-related data that is a great boon for democracy in the UK.”

— Patrick Dunleavy, Professor of Political Science and Public Policy, London School of Economics

> “I was pleased to hear that Democracy Club, working with the Electoral Commission, will be strengthening their
  work to provide direct polling station and candidate information to the public online, where we know they expect to
  find it. Over time, I believe that making this information available centrally will become an invaluable service
  for citizens.”

— [Chris Skidmore, The Minister for the Constitution](https://www.gov.uk/government/speeches/skidmore-an-effective-democracy-that-works-for-everyone)

> “a heroic crowd-sourcing effort.”

  — [The Guardian](https://www.theguardian.com/politics/2021/apr/27/independents-day-the-rise-of-hyperlocal-political-parties)

> “Nifty.”

— [Oadby and Wigston Council](https://twitter.com/Oadby_Wigston/status/1388901733011755025)


{% endfilter %}

{% endblock main_content %}
