{% extends "about/about_base.html" %}
{% load markdown_deux_tags %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block extra_page_css %}
<style>
    .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block page_heading %}<h1>About</h1>{% endblock page_heading %}

{% block main_content %}

<div class="ds-stack-smaller">

{% filter markdown %}

  <p class="ds-h5">Our vision is of a country with the digital foundations to support everyone’s participation in democratic life.</p>

Our mission is to create those foundations by:

- Identifying areas for improvement in democratic engagement;
- Ensuring everyone has access to quality information on democratic processes, particularly on elections;
- Mobilising a non-partisan movement of volunteers for democracy.

We are non-partisan and we work openly. We’re a community of 10,000 volunteers and a small core team.

We don’t have a view of ‘the perfect democracy’. Instead, we try to make constant iterative improvements based on citizens’ needs. We judge those needs based on publicly available research, feedback on our websites and online search data.

In this video from March 2016, Joe Mitchell — a co-ordinator at Democracy Club - explains how we try to do this.

<div class="videoWrapper">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/efA1l9q7a1M" frameborder="0" allowfullscreen></iframe>
</div>

## What we do

### The club

We coordinate a club of thousands of democracy volunteers who do small online tasks to help make democracy better. The club help create our Data and Apps.

### Data

We create the tools to aggregate data for democracy and make it available to everyone. This includes lists of elections, candidates and polling locations. Our data is trusted by the Electoral Commission, Google, Facebook, the *Guardian* and more.

### Apps

We build apps to answer direct questions from voters, such as 'Who can I vote for?' and 'Where do I vote?'.

Try out the Apps and get the Data via our [Projects page](http://democracyclub.org.uk/projects).


## What people say about us

Our data has reached millions of people since 2015. Here’s what some of them say:

> “Amazing accessible website that encourages people to vote by its sheer simplicity.”

<!---->

> “This was a very quick and precise answer to my question. Well Done!”

<!---->

> “Exactly what I was looking for. I appreciate the work of democracyclub and its supporters in providing this resource.”

### People who work on democracy trust us
{% endfilter %}

<p>
    <blockquote>
        “We've been impressed by Democracy Club's attention to detail and ability to make things work. We have complete trust in the data they provide and are highly supportive of their efforts to help voters get more information about elections.”
    </blockquote>

    <p>— Stuart Harrison, Senior Communication Officer, The Electoral Commission</p>
</p>

<p>
    <blockquote>
        “Democracy Club provide reliable, vital and timely election-related data that is a great boon for democracy in the UK.”
    </blockquote>

    <p>— Patrick Dunleavy, Professor of Political Science and Public Policy, London School of Economics</p>
</p>

<p>
    <blockquote>
        “...making this information available centrally will become an invaluable service for citizens...”
    </blockquote>

    <p>— The Minister for the Constitution</p>
</p>

{% filter markdown %}
### Here’s a roundup of articles about us

- Oxford City Council (2017) *[“Collaboration, Not Reinvention”](http://digital.oxford.gov.uk/blog/2017/05/17/collaboration-not-reinvention)*
- TBD (2017) *[“Democracy Club”](https://www.tbd.community/en/a/democracy-club-uk)*
- The Guardian (2017) *[“Democracy? There’s an app for that”](https://www.theguardian.com/politics/2017/jun/06/democracy-theres-an-app-for-that-the-tech-upstarts-trying-to-hack-british-politics)*
- The Guardian (2017) *[“Why are British voters in the dark about this week’s elections?”](https://www.theguardian.com/commentisfree/2017/may/03/british-voters-local-elections-councils)*
- The Guardian (2017) *[“Our democracy is broken, debased and distrusted – but there are ways to fix it”](https://www.theguardian.com/commentisfree/2017/jan/25/democracy-broken-distrusted-trump-brexit-political-system)*
- The Electoral Commission (2017) *[“Helping voters find out where to vote”](https://ukelectoralcommission.wordpress.com/2017/02/06/helping-voters-find-out-where-to-vote/)*
- The Electoral Commission (2017) *[“How We Set Up A Campaign In 12 Days”](https://ukelectoralcommission.wordpress.com/2017/09/14/how-we-set-up-a-campaign-in-12-working-days/)*
- TechPresident (2015) *[“Democracy Club Finally Lets Brits Know Who Is Running For Parliament”](http://techpresident.com/news/25519/democracy-club-brings-transparency-uks-obscure-election-procedures)*

### Some examples of our data in use

- The Times (2019) *[“Who are the general election candidates in my area?”](https://www.thetimes.co.uk/article/who-are-the-general-election-candidates-in-my-constituency-area-60btrdpxs)*
- Cambridgeshire Live (2019) *[“General Election 2019: This is how diverse the candidate list is in Cambridgeshire”](https://www.cambridge-news.co.uk/news/cambridge-news/general-election-2019-how-diverse-17290381)*
- Fawcett Society (2019) *[“Lack of women candidates in local elections ‘puts councils behind the times’”](https://www.fawcettsociety.org.uk/news/lack-of-women-candidates-in-local-elections-puts-councils-behind-the-times)*
- BBC News (2019) *[“Council elections: 'Not enough' women and minorities stand”](https://www.bbc.co.uk/news/uk-england-47947867)*
- Left Foot Forward (2019) *[“Six things you need to know about the English local elections”](https://leftfootforward.org/2019/04/six-things-you-need-to-know-about-the-english-local-elections/)*
- In Your Area (2019) *[“Local Elections 2019: Who you can vote for and where”](https://www.inyourarea.co.uk/news/local-elections-2019-who-you-can-vote-for-a-where/)*
- Democratic Audit (2019) *[“‘Conceived in Harlesden’: When do candidates emphasise their local connections in UK general elections?”](http://www.democraticaudit.com/2019/01/14/conceived-in-harlesden-when-do-candidates-emphasise-their-local-connections-in-uk-general-elections/)*
- Democratic Audit (2018) *[“England’s local elections 2018: bridging the information gap with the Democratic Dashboard”](https://www.democraticaudit.com/2018/04/09/englands-local-elections-2018-bridging-the-information-gap-with-the-democratic-dashboard/)*
- The Daily Telegraph (2017) *[“General election 2017 sees record level of female candidates”](https://www.telegraph.co.uk/women/politics/general-election-2017-sees-record-level-female-candidates/)*

## Who funds us

<a href="{% url "funding" %}#full-record-of-funders">You can see a list of our existing and previous funders here</a>.


{% endfilter %}

</div>
{% endblock main_content %}
