{% extends "about/about_base.html" %}
{% load markdown_deux_tags %}

{% block page_heading %}<h1>Jobs</h1>{% endblock page_heading %}

{% block main_content %}
{# fmt:off #}
{% filter markdown %}

{% endfilter %}


<div id="always-be-hiring" class="ds-stack">
{% filter markdown %}

## Board members
  
We are looking for more people to join our board. Please [see the blog post](https://democracyclub.org.uk/blog/2021/09/29/were-looking-some-more-directors/) 
describing the role.
  
## Future roles

Democracy Club is made up of lots of people doing things to make democracy work better.
Most give their time voluntarily, because they love democracy. Hurray!

We also have a small staff team. We're not currently hiring, but in the past we've been known to look for:

* Python or frontend developers
* Designers
* User researchers
* Community organisers
* Fundraisers
* Evaluation people
* General mucker-inners (events, admin, finance, comms)

If you'd like to hear about future roles, do join the mailing list (below) —
or [get in touch]({% url "contact" %}).

{% endfilter %}
</div>
{% endblock main_content %}
