{% extends "about/about_base.html" %}
{% load markdown_filter %}

{% block page_title %}Jobs{% endblock %}

{% block page_heading %}<h1>Jobs</h1>{% endblock page_heading %}

{% block main_content %}
    {# fmt:off #}
{% filter markdown %}

{% endfilter %}


<div class="ds-stack">
{% filter markdown %}
## Elections Assistant

Democracy Club is currently hiring an Elections Assistant for 2026.

Closing date: 1 December 2025

[See the full advert](https://jobs.gohire.io/democracy-club-bgesvcbx/elections-assistant-2026-261676/)

## Future roles

Democracy Club is made up of lots of people doing things to make democracy work better, including a community of volunteers who help us bring accurate and trustworthy 
election information to all corners of the UK.

In the past we've been known to look for:

* Python or frontend developers
* Designers
* User researchers
* Community organisers
* Fundraisers
* Researchers
* Operations specialists
* Communicators and fundraisers
* Volunteers

If you'd like to hear about future roles, do join the [mailing list](https://mailinglist.democracyclub.org.uk/subscription/form) —
or [get in touch]({% url "contact" %}).

{% endfilter %}
</div>
{% endblock main_content %}
