{% extends "about/about_base.html" %}
{% load markdown_filter %}

{% block title %}
Jobs |
{% endblock %}

{% block page_heading %}<h1>Jobs</h1>{% endblock page_heading %}

{% block main_content %}
    {# fmt:off #}
{% filter markdown %}

{% endfilter %}


<div id="always-be-hiring" class="ds-stack">
{% filter markdown %}

## Election assistant 2022

Democracy Club is a non-partisan civic technology community interest company which builds online voter information
tools for UK elections. Our vision is of a country with the digital foundations to support everyone’s participation
in democratic life. We’re a small, distributed team who work openly.

In May 2022 all four UK nations will hold significant elections: the Northern Ireland Assembly, and council elections
in all areas of Scotland and Wales and a large proportion of England. In order to ensure that we achieve the greatest
impact during these elections, we’re seeking a fixed-term part-time Elections Assistant to assist with the administration
and dissemination of our voter information tools.

This non-technical role would suit someone with an enthusiasm for democracy and democratic participation, and a
commitment to getting the details right. The primary responsibilities of the role involves desk research and data
entry, but the successful applicant will become involved in all other areas of our work, including communications,
outreach and partnership building.

### You will be responsible for

* Working in partnership with our internal developers, The Electoral Commission, and local authorities to obtain data
for our polling station finder at WhereDoIVote.co.uk. This involves using CRM software to track progress and deal
with problems and queries as they arise.

* Contribute to, manage, and monitor our election candidates and political parties database to ensure our users
have everything they need to cast an informed vote.

* Proactively seek out potential partners and data re-users.

* Contribute to Democracy Club’s wider elections output. This could involve conducting research and writing blog posts
and reports, including following media coverage of the election, and contributing to our post-election review.

### You will have

* Good understanding of UK politics, especially the electoral systems and structure of local and devolved government
* Excellent written and spoken communication skills
* Organised with a good attention to detail (we use a lot of spreadsheets!)
* Fast and adaptable learner, especially when it comes to using new software
* Comfortable working independently and taking initiative to push projects forward

You will also be thoroughly non-partisan: you cannot have stood for or held elected office in the UK,
or been involved in any political campaigning during the last two years

To get a better feel for what we do and what the role will involve, take a scroll down our blog and have a look at
our past election reports.

### You will get

* A chance to immerse yourself in civic technology / tech for good
* A unique perspective on UK politics and electoral administration
* £25k pro rata
* A flexible, part-time (2.5 days a week, negotiable), fully remote short term contract

Contract length: End of January to end of May 2022

Closing date: 22 November 2021

If you have any questions about this role please [get in touch with Peter](mailto:peter.keeling@democracyclub.org.uk).

<a class="ds-cta" href="https://apply.workable.com/democracy-club/j/CF9FABE09E/apply/">Apply</a>

## Future roles

Democracy Club is made up of lots of people doing things to make democracy work better.
Most give their time voluntarily, because they love democracy. Hurray!

We also have a small staff team. We're not currently hiring, but in the past we've been known to look for:

* Python or frontend developers
* Designers
* User researchers
* Community organisers
* Fundraisers
* Evaluation people
* General mucker-inners (events, admin, finance, comms)

If you'd like to hear about future roles, do join the mailing list (below) —
or [get in touch]({% url "contact" %}).

{% endfilter %}
</div>
{% endblock main_content %}
