{% extends "about/about_base.html" %}
{% load markdown_deux_tags %}


{% block page_heading %}<h1>The Team</h1>{% endblock page_heading %}

{% block main_content %}
{% filter markdown %}

We’re a 10,000 strong digital community who work online via Slack and Trello. Club members put in hundreds of hours of work to help build the databases that help inform voters. They sometimes get points for doing so: here's the [leaderboard](https://candidates.democracyclub.org.uk/leaderboard).

The club is supported by a core team of three coordinators:

![From left: Sym, Joe and Chris — Democracy Club coordinators](https://static.democracyclub.org.uk/media/hermes/heroes/now-we-are-three_hero.jpg "Sym, Joe and Chris")


### Sym Roe

Sym has 15 years experience in open data, government and technology, for folks like Government Digital Service, Ministry of Justice and FarmSubsidy.org. He has never knowingly set foot in a school. He lives in Stroud and has still not been a candidate on the Great British Bake Off.

### Joe Mitchell ([@j0e_m](https://twitter.com/j0e_m))

Joe has a decade of experience in advocacy, communications and marketing, including with the UK Civil Service and United Nations. He went to many universities. He lives in Bristol, even though he is probably not cool enough to do so.

### Chris Shaw

Chris has over 10 years of experience in software development and data wrangling in the research and education sectors. He studied Computer Science in Swansea, where he now lives. He started working on Democracy Club projects as a volunteer. We haven't worked out how to make him stop yet.

## Board



The core team is overseen by an experienced board of directors:

### Alice Casey (Chair)

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/alice%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Alice works at Nesta, leading on a portfolio of work looking at how technology is transforming communities and civic life. This has included [ShareLab Fund](https://www.nesta.org.uk/sharelab-fund), exploring how collaborative platforms can help tackle social challenges, as well as co-founding a new open data infrastructure charity, [360Giving](http://www.threesixtygiving.org/), that supports grantmaking bodies to publish and use their data. Alice has been involved in Nesta's Neighbourhood Challenge, the Big Green Challenge, and Innovation in Giving. Before Nesta, Alice worked for Involve on public involvement in policy making. Alice is a trustee of Local Trust which leads Big Local, a £220m place-based fund to support communities to lead change at a local level, and has acted as an advisor to a range of socially minded startups.

### Alison Walters

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/Alison%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Alison runs a consultancy providing scalable financial processes and solutions to enable growth. She has spent over 20 years working with SMEs in finance and operational roles in the technology, TV and media, digital marketing and government sectors. Outside of the office, and very often inside it if asked, she teaches yoga.

### Ian Watt

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/ian%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Ian is a director and co-founder of [Code The City](http://codethecity.org/) and [ODI Aberdeen](http://aberdeen.theodi.org/our-team/).  He recently left Aberdeen City Council where he had led numerous programmes, at city-region, Scotland-wide and EU scale, including their participation in Code For Europe, and other NESTA-funded projects. He is a long-term open data advocate, contributed to the Scottish Government’s 2015 Open Data Strategy, and recently led the Data programme for the 7 Cities of Scotland. He was involved in the design of the MSc Data Science programme at Robert Gordon University. In 2013 Ian won a public vote to become Local Government digital leader of the year.

### Mevan Babakar

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/mevan%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Mevan leads on [Full Fact](https://fullfact.org/)'s automated factchecking work which seeks to scale the work of factchecking organisations everywhere. She co-authored 'The State of Automated Factchecking' in 2016 and regularly speaks in the UK and internationally about misinformation, factchecking, and civic technology. Mevan joined Full Fact in 2014 after working at Cancer Research in the digital team. Before that she helped build [Bite the Ballot](http://bitetheballot.co.uk/), a non-profit organisation that registers young people to vote. There she launched Britain’s first ever National Voter Registration Day. She is a founding organiser of [Citizen Beta](http://www.citizenbeta.org/). She graduated with a Masters in Bioengineering from the University of Sheffield.

### Olly Benson

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/olly%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Olly currently works for NHS England, with a focus on how to introduce person and community centred approaches at scale, particularly in Greater Manchester. Prior to joining the NHS, Olly was Operations Director at the Do-it Trust, responsible for the [do-it.org](http://do-it.org/) volunteering website, and he previously worked in senior roles in two charities: YouthNet and Headliners. He started his career at the BBC, working in local radio, Radio 1 and English Regions HQ. Outside of work he has previously been a trustee of the Citizenship Foundation as well as volunteering for a number of different organisations.

### Rebecca Eligon

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/rebecca%20e%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Rebecca is an Associate at [Collaborate](https://collaboratecic.com/), a community interest company that helps public services work together to tackle complex social challenges. She is a values-driven leader with a strong track record of working together with a range of stakeholders to deliver service transformation and sustainable change.

Rebecca has particular expertise in diagnostic and improvement work relating to poor performing public services and has worked as both a public servant and consultant to the public sector (at Which? magazine, the Home Office, Ipsos MORI and Lambeth Council). Most recently Rebecca has worked to support Lambeth Children’s Services, Her Majesty’s Courts and Tribunals Service and Wokingham Borough Council.

### Rebecca Kemp

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/rebecca%20k%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Rebecca Kemp ([@rebeccakemp](https://twitter.com/rebeccakemp)) is a freelance digital director specialising in strategy, service transformation and Agile working. She helps organisations understand how technology can help them achieve their objectives, and works with teams to make this happen. Rebecca also trains people in digital leadership and digital skills.

### Sarah Hartley

<img src="https://dc-blog-images.s3.amazonaws.com/2017-12-01/sarah%20circle.png" style="float:left;padding: 1em;width:170px;height:170px;">

Sarah Hartley's background is in the news sector and she is currently one of the managers at Google's Digital News Initiative (DNI) Innovation Fund for Europe. She is the co-founder and editorial director of the collaborative journalism CIC [Publish.org](https://beta.publish.org/) as well as being co-founder of consultancy and training business Dim Sum Digital Ltd. Before joining the Google team, Sarah worked at The Guardian Media Group for more than a decade. There, she oversaw many digital innovations and product launches including ManchesterEveningNews.co.uk, the community news initiative, Guardian Local, and the crowdfunding platform, [Contributoria.com](http://contributoria.com).

{% endfilter %}
{% endblock %}
