{% extends "about/about_base.html" %}
{% load markdown_deux_tags %}
{% load static %}


{% block page_heading %}<h1>The Team</h1>{% endblock page_heading %}

{% block title %}
The Team -
{% endblock %}

{% block main_content %}
{% filter markdown %}

We’re a strong digital community who work online via Slack and Trello.

Club members put in hundreds of hours of work to help build the databases that
help inform voters. They sometimes get points for doing so: here's the
[leaderboard](https://candidates.democracyclub.org.uk/leaderboard).

The club is supported by a small core team and an experienced board of directors.

### Sym Roe - Coordinator

<img src={% static "images/team/sym.png"%} style="float:left;padding:1em;width:170px;height:170px;">

Sym has 15 years experience in open data, government and technology, for folks
like ScraperWiki, Ministry of Justice and FarmSubsidy.org. He has
never knowingly set foot in a school, lives in Stroud, has a dog with a hard
to explain name, and is trying to rebuild a Cotswold stone house.

### Peter Keeling - Voting information manager

<img src={% static "images/team/peter.png"%} style="float:left;padding:1em;width:170px;height:170px;">

Peter oversees the election administration and communications at Democracy Club, including polling stations and
candidate information. He previously spent far too much time at university, and holds a PhD in nineteenth-century
British political history.

### Virginia Dooley - Developer

With a background in international development, Virginia pivoted to coding after working with startups and charities
struggling with outdated products and systems.
In a quest for better weather, Virginia moved from NYC to London in 2015.

### Kate Seary - Devolved Elections Assistant

Kate has a background in political science and youth politics. She studied and is based in Birmingham but holds a
strong connection to her home in Wales. She also spent time as a student-athlete in Portland, Oregon and particularly
relates to the city’s motto ‘Keep Portland Weird’.


### Michael Collins - Developer

Based in Sheffield, having previously studied English at Leicester as well as having spent some time living in London
where he worked for a variety of charities, including a brief stint at ZSL London Zoo!
He decided to retrain to become a developer in 2015, completing the Makers Academy bootcamp.
Since then He's been working as a python developer, and in my last role was focussed on delivering websites and
digital services for a range of clients in the not-for-profit sector.

### Ella Botting - Admin assistant

<img src={% static "images/team/ella.png"%} style="float:left;padding:1em;width:170px;height:170px;">

Alongside helping out with operational support at Democracy Club, Ella is a freelance user researcher with
significant experience in the public sector. She writes a blog, [cyberwomen.co.uk](https://cyberwomen.co.uk), which aims to raise the
visibility of women and non-binary people in tech. Other than that, she likes weightlifting, ballet and plants.


# Board

### Alice Casey (Chair)

<img src=https://dc-blog-images.s3.amazonaws.com/2017-12-01/alice%20circle.png style="float:left;padding: 1em;width:170px;height:170px;">

Alice works at Nesta, leading on a portfolio of work looking at how technology is transforming communities and civic life. This has included [ShareLab Fund](https://www.nesta.org.uk/sharelab-fund), exploring how collaborative platforms can help tackle social challenges, as well as co-founding a new open data infrastructure charity, [360Giving](http://www.threesixtygiving.org/), that supports grantmaking bodies to publish and use their data. Alice has been involved in Nesta's Neighbourhood Challenge, the Big Green Challenge, and Innovation in Giving. Before Nesta, Alice worked for Involve on public involvement in policy making. Alice is a trustee of Local Trust which leads Big Local, a £220m place-based fund to support communities to lead change at a local level, and has acted as an advisor to a range of socially minded startups.

### Ian Watt

<img src=https://dc-blog-images.s3.amazonaws.com/2017-12-01/ian%20circle.png style="float:left;padding: 1em;width:170px;height:170px;">

Ian is a director and co-founder of [Code The City](http://codethecity.org/) and [ODI Aberdeen](http://aberdeen.theodi.org/our-team/). He recently left Aberdeen City Council where he had led numerous programmes, at city-region, Scotland-wide and EU scale, including their participation in Code For Europe, and other NESTA-funded projects. He is a long-term open data advocate, contributed to the Scottish Government’s 2015 Open Data Strategy, and recently led the Data programme for the 7 Cities of Scotland. He was involved in the design of the MSc Data Science programme at Robert Gordon University. In 2013 Ian won a public vote to become Local Government digital leader of the year.

### Mevan Babakar

<img src=https://dc-blog-images.s3.amazonaws.com/2017-12-01/mevan%20circle.png style="float:left;padding: 1em;width:170px;height:170px;">

Mevan leads on [Full Fact](https://fullfact.org/)'s automated factchecking work which seeks to scale the work of factchecking organisations everywhere. She co-authored 'The State of Automated Factchecking' in 2016 and regularly speaks in the UK and internationally about misinformation, factchecking, and civic technology. Mevan joined Full Fact in 2014 after working at Cancer Research in the digital team. Before that she helped build [Bite the Ballot](http://bitetheballot.co.uk/), a non-profit organisation that registers young people to vote. There she launched Britain’s first ever National Voter Registration Day. She is a founding organiser of [Citizen Beta](http://www.citizenbeta.org/). She graduated with a Masters in Bioengineering from the University of Sheffield.

### Olly Benson

<img src=https://dc-blog-images.s3.amazonaws.com/2017-12-01/olly%20circle.png style="float:left;padding: 1em;width:170px;height:170px;">

Olly currently works for NHS England, with a focus on how to introduce person and community centred approaches at scale, particularly in Greater Manchester. Prior to joining the NHS, Olly was Operations Director at the Do-it Trust, responsible for the [do-it.org](http://do-it.org/) volunteering website, and he previously worked in senior roles in two charities: YouthNet and Headliners. He started his career at the BBC, working in local radio, Radio 1 and English Regions HQ. Outside of work he has previously been a trustee of the Citizenship Foundation as well as volunteering for a number of different organisations.

## With thanks to

Democracy Club has been helped by many people along the way. We are greatful to them all, but some deserve a special mention:

Seb Bacon, Tim Green, Edmund von der Burg and Tom Steinberg for their initial work in 2010, and much help since.

Mark Longair for all his work on YourNextRepresentative.

Andy Lulham for support, feedback and code contributions and general top wombling.

Former board members Sarah Hartley, Alison Walters and Rebecca Eligon, Rebecca Kemp.

Chris Shaw for "being the person who cared about WhereDoIVote the most". Without him the polling station finder
wouldn't exist, and millions of people would still be looking for their polling station to this very day.

And last but not least, Joe Mitchell who took a leap in to Democracy Club, via a basement, after Sym spammed him once in 2014,
and kept us afloat as co-coordinator for the best part of 5 years. He also wrote [almost all the blog posts](/blog).

{% endfilter %}
{% endblock %}