footer {
  color:$white;
  background-color: $off-black;
  font-family:$sanserif-font;

  & h2 {
    color:$dc-bright-pink;
  }

  .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
  }

  a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;

    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }

    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }

  @media only screen and (min-width: 40.063em) {
    padding: 4rem;

    p {
      text-align: left;
    }

    .social {
      text-align: left;
      margin: 0;
    }

    .footer-form {
      .contact {
        position: absolute;
        left: -45%;
        top: 10%;
      }
    }

  }

  & .block-label {
    background:none;
  }
}
