body > header {
  background-color:$header_bg;
  height:7em;
  @include media(710px) {
    height:5em;
  }

  padding:0.3em;

  & .container {
    height:5em;
    box-sizing:border-box;
    position:relative;
    width:100%;

    & img {
      position:absolute;
      left:0;
      top:50%;
      margin-top: -48px;
      width: 300px;
      max-width:300px;
      min-width:200px;
    }
  }
}
