//
// Site footer (.site-footer)
//
//***********************************************************************
.site-footer {
  margin: 40px 0 0;
  padding: 40px 0;
  color: #fff;
  background-color: $off-black;
}
  // Override DC Theme
  footer.site-footer a::after { padding: 0; content: normal; }

  // Mailing list form
  .site-footer__mailing-list {
    margin: 0 0 40px 0;
    font-size: 16px;

    .form-label { display: block; }

    .form-input-text {
      width: 100%;
      margin: 0;
      border: 1px solid rgba(0,0,0,1);
      padding: 5.6px 6px 5px;
      font-size: 16px;
      font-family: $sanserif-font;

      @include media(tablet) {
        max-width: 300px;
      }
    }
  }

    // Form title
    .site-footer__form-title {
      font-size: 24px;
      margin: 0 0 10px;
      padding: 0;
      font-weight: normal;
      color: #fff;
    }

    // Footer Navigation
    .nav-footer-wrap { }
      .nav-footer { margin: 0; padding: 0; list-style: none; font-size: 16px; }
        .nav-footer + .nav-footer { margin: 20px 0 0; }

        .nav-footer a { color: #fff; }


    // Footer credit list
    .site-footer__credits { margin: 40px 0 0; font-size: 14px; }
      // Footer logo
      .site-footer__logo { max-width: 120px; }
      .site-footer__credits p {
        margin: 0; padding: 0;

        @include media(tablet) {
          text-align: right;
        }
      }

    // Right hand footer column, align content to right hand side
    .site-footer__right-col {
      @include media(tablet) {
        text-align: right;
      }
    }