/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Kreon:400,700&text=%26);
*/

body {
    font-family:sans-serif;
    margin:0;
    padding:0;
    background-color:#EEE;
    font-size:19px;
}

h1, h2, h3 {
    font-family: 'Playfair Display', 'Source Sans Pro', sans-serif;
}

section h1 {
    font-size:48px;
    font-weight:bold;
}

section h2 {
    font-size:36px;
    font-weight:bold;
}

section h3 {
    font-size:24px;
    font-weight:bold;
}

section h4 {
    font-size:19px;
    font-weight:bold;
}


header[role=banner] {
    background-color:#FFF;
    color:#191919;
    padding:0 0 0 0;
    margin-bottom:0em;
    text-align:center;
}

header[role=banner] img {
    padding:1em 0 0 0;
}
header[role=banner] h1 {
    margin:0;
}

header[role=banner] em {
    display:block;
    margin:0.3em 0;
    padding:0.5em 0 1em 0;
}

header[role=banner] nav, header[role=banner] nav a {
    background-color:#3571C3;
    color:#FFF;
}

header[role=banner] nav ul {
    padding:0.5em;
    margin:0 auto;
    max-width:90%;
}

header[role=banner] nav ul li {
    padding:0 0.2em;
    margin:0;
    display:inline;
}


body > section {
    margin:0 auto;
    width:90%;
    max-width:40em;
}

p {
    font-size:19px;
}

p:first-child {
    font-size:24px;
}



/* Forms */

input {
    border:1px solid #bfc1c3;
    padding:4px;
    line-height:1.31579;
    box-sizing: border-box;
}

form input, form button, form label {
    display:block;
    font-size:19px;
    clear:left;
    min-width:100%;
}

label+input {
    margin-top:5px;
}

form>p {
    margin-bottom:30px;
}

form button {
    border:1px solid #bfc1c3;
    min-width:1em;
    padding:4px;
    line-height:1.31579;
    box-sizing: border-box;
}


@media only screen and (min-width: 30em) {
    header[role=banner] h1 {
        display:inline;
    }
    header[role=banner] img {
        position:relative;
        top:2em;
        left:-0.5em;
    }
    header[role=banner] em {
        position:relative;
        margin:0 auto;
        left:3.1em;
        max-width:80%;
    }

    form button {
        min-width:20px;
    }

}
