@import: url('typebase.css');

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@font-face {
    font-family: 'BrandonText';
    src: url('../fonts/BrandonText.eot');
    src: url('../fonts/BrandonText.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BrandonText.woff') format('woff'),
         url('../fonts/BrandonText.ttf') format('truetype'),
         url('../fonts/BrandonText.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    font-family:'Roboto', sans-serif;
    margin:0;
    padding:0;
    font-size:19px;
    color:rgb(53, 54, 58);
}

h1, h2, h3 {
    font-family: 'BrandonText', sans-serif;
    clear:both;
}

h3 {
    margin-bottom:0.2em;
/*    padding:0;*/
}
h3 + p + h3 {
    margin-bottom:0;
    margin-top:2em;
}

a {
    color:#000;
    text-decoration:underline;
}

a.link-button:link, a.link-button:visited {
    border: 2px solid white;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    line-height: normal;
    margin: 0;
    padding: 1rem 2rem 1.0625rem 2rem;
    text-decoration:none;
}

nav a {
    text-decoration:none;
}

a:visited {
    color:#757575;
}

strong {
    font-weight:bold;
}

/* Forms */

input {
    border:1px solid #bfc1c3;
    padding:4px;
    line-height:1.31579;
    box-sizing: border-box;
}

form input, form button, form label {
    display:block;
    font-size:19px;
    clear:left;
    min-width:100%;
}

label+input {
    margin-top:5px;
}

form > p {
    margin-bottom:30px;
}

form button {
    border:1px solid #bfc1c3;
    min-width:1em;
    padding:4px;
    line-height:1.31579;
    box-sizing: border-box;
}

/* Header */

header[role=banner] {
    padding:4rem 0;
    overflow:auto;
    margin:0em;
}

header[role=banner] img {
    padding:0;
    display:block;
    margin:1em auto 0 auto;
    height: 4rem;
    width: 4rem;
}

header[role=banner] .large_header .logo img {
    padding:0 15% 15% 15%;
}

header[role=banner] h1 {
    margin: 1rem 0;
    text-align: center;
    clear: right;
    font-family: 'BrandonText';
    font-size: 3rem;
    line-height: 4rem;
    float: none;
    text-rendering: auto;
    letter-spacing: -0.05rem;
}

header[role=banner] a {
    text-decoration:none;
    color:rgb(53, 54, 58);
}

/* Sections */

.row section.row {
    margin-bottom: 2rem;
}

section.row div.columns p {
    font-size: 1.4rem;
}

section.row h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    margin-bottom: 1rem;
}

section.row form#signup_form > input[type=text] {
    display: block;
    line-height: 3rem;
    height: 3rem;
    font-size: 1rem;
    border: 0;
    line-height: 1rem;
    min-width: 0%;
}

section.row#data_for_democracy, section.row#the_club, section.row#who_can_i_vote_for, section.row#report_2016 {
    padding: 2rem;
    color: white;
}

section.row button {
    background: none;
    border: 2px solid white;
}

/** The club */

section.row#the_club {
    background: #ED706D linear-gradient(#ED7069,#D58C6F);
}

section.row#the_club form#signup_form > button {
    background: none;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    display: inline;
}

/** Data for democracy */

section.row#data_for_democracy {
    background: #8469ED linear-gradient(#8469ED,#A96FD5);
}

/** Who can I vote for */

section.row#who_can_i_vote_for {
    background: #30BB48 linear-gradient(#30BB48,#34C887);
}

/** Report 2016 */

section.row#report_2016, .intro_panel {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/The_Old_Bridge%2C_Pontypridd.jpg/1280px-The_Old_Bridge%2C_Pontypridd.jpg");
    background-position: center center;
}

section.row#report_2016 > div.wrap {
    margin: -2rem;
    padding: 2rem;
    background: rgba(0, 91, 154, 0.25);
}


/* /data/ */

section.row#data_elections {
    padding: 2rem;
    background: #26ADE3 linear-gradient(#26ADE3,#26AFE4);
    color: white;
}

section.row#data_elections button, section.row#data_candidates button {
    background: none;
    border: 2px solid white;
}

section.row#data_elections a:link, section.row#data_elections a:visited {
    color: white;
}

section.row#data_candidates {
    padding: 2rem;
    background: #9C4DE8 linear-gradient(#9C4DE8,#7D62CF);
    color: white;
}

section.row#data_candidates a:link, section.row#data_candidates a:visited {
    color: white;
}

.contain-to-grid {
    box-shadow: 0 1px 3px rgba(0,0,0,0.24);
}

.contain-to-grid, .top-bar {
    background-color: #DFF3EF;
    background: #DFF3EF;
}

.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar.expanded .title-area {
    background:none;
    background-color:none;
    color:#000;

}

.top-bar.expanded .title-area {
    border-bottom:1px solid #ddd;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color:#31A289;
    color:#FFF;

}

.top-bar .toggle-topbar {
    width: 100%;
    padding-left: 2%;
}

.top-bar .toggle-topbar a {
    color:#000;
}

section.nav {
    margin-top: -2rem;
    margin-bottom: 2rem;
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav li {
    font-size: 1.4rem;
}

ul.nav li a {
    display: block;
    padding:1em;
    margin:0;
    text-align:center;
}

ul.nav li a, ul.av li a:visited {
    color:#333;
    text-decoration:none;
}

ul.nav li a:hover {
    color:#FFF;
    background-color:#31A289;
}

body > main {
    margin:0 auto;
    box-sizing: border-box;
    overflow:auto;
}

body > main hr {
    clear:both;
}

body > main > section[role=heading] {
    text-align:justify;
}

body > main > section:after {
  content:"";
  display:table;
  clear:both;
}

.thumb {
    padding:0 0.5em 0.5em 0;
    clear:both;
    float:none;
    margin:0 auto;
    max-width:100%;
}

body > footer {
    background-color: #DCDCDC;
    overflow:auto;
    padding:4em 0;
    margin-top:5em;
}

body > footer .wrap {
    margin:0 auto;
    padding:5% 10%;
}


body > footer section > header h2 {
    font-size:1.2em;
    padding:0;
    margin:0;
}

body > footer section > ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

.box_widget {
    border: 2px solid #31A289;
    margin-bottom:1.5em;
    padding-bottom:1em;
}

.box_widget header {
    background-color:#31A289;
    color:#FFF;
    margin-bottom:0.5em;
    margin:0 auto;
    text-align:center;
    display:table;
    width:100%;
    position:relative;
}

.task_number {
    float:left;
    position:absolute;
    top:-0.1em;
    left:0;
    bottom:0;
    font-size:3em;
    color:#DFF3EF;
}

.box_widget header h3 {
    padding:0.5em 0 0.5em 1.5em;
    height:2.5em;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    margin:0 auto;
}

.box_widget p, .box_widget > a {
    padding:0.5em;
    margin:0;
}



section + hr {
    padding-top:2em;
    border:none;
    border-bottom:1px solid #000;
}

p + a.read_more {
    top:-0.5em;
    position:relative;
}
a.read_more {
    color:#31A289;
    text-decoration:none;
}

/* Blog posts */
body.blog article.row {
    margin-bottom:0.5em;
}

/* Menu */
body #navigation li a.active {
    background-color:#31A289;
    color:#FFF;
}

/* Count down */
.countdown {
    display:block;
    background-image:url('/static/images/BallotBox.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width: 205px;
    height: 288px;
    padding:0.5em 2em;
    font-size:1.3rem;
    box-sizing: border-box;
    text-align:center;
    margin:2.2em auto 0 auto;

}

.countdown .days {
    font-size:3rem;
    clear:both;
    display:block;
}

/* Donation form */
form.donate_form .donation_amount input {
    min-width:0;

}

form.donate_form .donation_amount div {
    background: #dee0e2;
    border: 1px solid #dee0e2;
    width:5em;
    max-width:5em;
    min-width:5em;
    overflow:auto;
    line-height:1.8em;
    padding-left:0.5em;
    margin:0.5em 0;
}

form.donate_form .donation_amount div input {
    display:inline-block;
    width:4em;
    float:right;
    margin:0;
}

form.donate_form .donation_amount label {
    font-weight:bold;
}


form.donate_form ul {
    list-style-type:none;
    margin:0;
    padding:1em 0 1em 0;
    clear:both;
    display:block;
    overflow:auto;
}

form.donate_form ul li {
    display: block;
    background: #dee0e2;
    border: 1px solid #dee0e2;
    padding: 18px;
    margin: 10px;
    cursor: pointer;
    float: left;
    min-width:1em;
}

form.donate_form ul li:first-child {
    margin-left:0;
}

form.donate_form ul li label,
form.donate_form ul li input {
    cursor: pointer;
}

form.donate_form ul input {
    min-width:auto;
    display:inline;
}



@media only screen and (min-width: 53em) {
    form button {
        min-width:20px;
    }

    form input, form label {
        display:inline;
    }

    header[role=banner] img {
        max-width:90px;
        float:left;
        width: 4rem;
        height: 4rem;
    }

    header[role=banner] img {
        max-width:100%;
        margin-top:0;
        float:left;
    }

    header[role=banner] h1 {
        float:left;
    }

    header[role=banner] h1 {
        font-size: 3em;
        line-height: 4rem;
        margin: 0;
        margin-left: 1rem;
    }

    section.row form#signup_form > input[type=text] {
        display: inline-block;
        width: 15rem;
    }

    section.row form#signup_form > button {
        margin-left: 1rem;
    }

    body {
        margin:0 auto;
    }

    ul.nav li {
        float: left;
        width: 16.6%;
        font-size: 1.4rem;
    }

    .thumb {
        float:left;
        padding:0 0.5em 0.5em 0;
        width:auto;
    }
    .countdown {
        float:left;
        margin-left:2.5em;
    }

    [role="heading"] h2 {
        margin:0;
        padding:0;
        font-size:1rem;
    }
}


div[role=contentinfo] {
    font-size:1rem;
}

.project {
    margin-bottom:1.5em;
}

figure {
    margin:0;
}

figure figcaption.small {
    font-size:0.5em;
}

ol.indent li {
    margin-left:3em;
    padding-bottom:0.2em;
}

a.button:visited {
    color:#FFF;
}
#area_form input[type=number] {
    width:4em;
    min-width:10px;
    display:inline;
}

.button-cta {
    background-color:#7431A2;
}

.button.disabled {
    font-size:0.9rem;
    opacity: 0.4;
}


code {
    white-space: pre;
}

/* /report_2016/ */

#report_2016 header.intro_panel {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/The_Old_Bridge%2C_Pontypridd.jpg/1280px-The_Old_Bridge%2C_Pontypridd.jpg");
    background-position: center center;
    padding: 0;
}

#report_2016 header.intro_panel > div.wrap {
    padding: 2rem;
    background: rgba(4, 37, 59, 0.5);
}

#report_2016 header.intro_panel h1, #report_2016 header.intro_panel h2, #report_2016 header.intro_panel h3, #report_2016 header.intro_panel h4, #report_2016 header.intro_panel h5 {
    color: white;
}

#report_2016 header.intro_panel h1 {
    margin: 0.5rem 0rem 1rem 0;
}

#report_2016 header.intro_panel p#subhead {
    margin:0.5em 0;
    line-height:1.6em;
    color: white;
    font-size: 1.4rem;
}

#report_2016 header.intro_panel p#byline {
    margin:0.5em 0;
    line-height:1.6em;
    color: white;
    font-size: 1.2rem;
    font-style: italic;
}

#report_2016 section p {
    font-size: 1.2rem;
    line-height: 2.0rem;
    margin: 0 5rem 2rem 0rem;
    text-align: justify;
}

#report_2016 section header h2 {
    margin: 2rem 0 1rem -1rem;
}

#report_2016 section h2 {
    margin: 2rem 0 1rem -1rem;
}

#report_2016 section h3 {
    margin: 2rem 0 1rem -1rem;
}

#report_2016 section h4 {
    margin: 2rem 0 1rem -1rem;
}

#report_2016 figure {
    margin: 2rem 0 2rem 0;
}

#report_2016 figure figcaption{
    text-align:center;
    font-size:0.8em;
}

#report_2016 section header img {
    width:100%;
}
