// Democracy Club Base
@import 'dc_base';

// Legacy styles (Ultimately to be refactored + removed)
@import 'sass/legacy/dc-website';

// Site Base
@import 'sass/base/base';
@import 'sass/base/buttonNew';

// Layout
@import 'sass/layout/fukol-grid--override';
@import 'sass/layout/container--override';
@import 'sass/layout/site-wrapper';
@import 'sass/layout/site-header';
@import 'sass/layout/site-footer';
@import 'sass/layout/nav-site';

// Components and modules
@import 'sass/components/backlog';
@import 'sass/components/donate-box';
@import 'sass/components/feature-card';
@import 'sass/components/link-card';
@import 'sass/components/section-header';
@import 'sass/components/media-card';
@import 'sass/components/super-header';
@import 'sass/components/logo-list';

// Individual page styles
@import 'sass/pages/homepage';

// Utilities
@import 'sass/utilities/_responsive-video';

// TODO undo this when we update the design – this undoes the base theme
// 0.3.6 style
body {
  background-color:#FFF;
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin: 0;
  color: #999;
  padding: 0rem 1rem;
  border-left: .25rem solid #999;
  display: block;
}

.fukol-grid > .card, .fukol-grid + .card {
  margin-top: 40px;
}

