{% extends "projects/polling-stations/polling_stations_base.html" %}
{% load markdown_deux_tags %}


{% block page_title %}
<h1>Polling station finder</h1>
{% endblock page_title %}

{% block main_content %}
{% filter markdown %}

Our polling station finder widget can be embedded into any webpage for free.

The finder provides users with their polling station if we know it, and details on how to contact their council if we don’t. 

Please note this tool only contains data for scheduled elections, and will only display data in the months before polling day (typically March and April). 
We add data as councils send it to us. Please get in touch if you want to know if a specific area is online.

If you choose to use the widget, we'd appreciate it if you could<a href="{% url "contact" %}">let us know</a>. We don't limit use, but it's great to know who has used the embed feature.

We're also very keen to hear any feedback you might have!

<h2>Customise and Embed</h2>
For councils in Wales, we offer optional Welsh language support.
<form id="widget-options" class="form form-inline">
    <div class="form-group">
      <fieldset>
        <label for="no-lang" class="block-label selection-button-radio">
          <input type="radio" name="language" id="no-lang" value="no-lang" checked="checked">
          In English only
        </label>
        <label for="en" class="block-label selection-button-radio">
          <input type="radio" name="language" id="en" value="en">
          With language toggle (Default English)
        </label>
        <label for="cy" class="block-label selection-button-radio">
          <input type="radio" name="language" id="cy" value="cy">
          With language toggle (Default Welsh)
        </label>
      </fieldset>
    </div>
    <button>Generate</button>
</form>

<figure>
  <noscript>
    <iframe src="https://wheredoivote.co.uk/embed/"
      style="width:100%; height:1100px" frameborder="0" scrolling="no">
    </iframe>
  </noscript>
  <div id="widget-area">
    <div id="dc_wdiv" aria-live="polite" role="region"></div>
    <script type="text/javascript"
      src="https://widget.wheredoivote.co.uk/wdiv.js">
    </script>
  </div>
  <figcaption>
    Live data varies, so results might not show for example postcodes.
    We tend not to have data outside of major elections, <a href="{% url "contact" %}">contact us</a>
    if you'd like a demo.
  </figcaption>
</figure>

To embed on your site, use the following code:
{% endfilter %}

<div id="code-area">
<pre><code>&lt;noscript&gt;
  &lt;iframe src="https://wheredoivote.co.uk/embed/"
    style="width:100%; height:1100px" frameborder="0" scrolling="no"&gt;
  &lt;/iframe&gt;
&lt;/noscript&gt;
&lt;div id="dc_wdiv" aria-live="polite" role="region"&gt;&lt;/div&gt;
&lt;script type="text/javascript"
  src="https://widget.wheredoivote.co.uk/wdiv.js"&gt;
&lt;/script&gt;
</code></pre>
</div>

{% filter markdown %}
## Adding your data
Work in a council and want your polling stations to work in the widget?
<a href="{% url 'projects:polling_data_upload' %}">Find out how to provide us with data.</a>

## Custom designs, white label and API

If you would like something other than the default design on your pages, we can
provide a white label or custom version. For software developers we have an
[API](https://developers.democracyclub.org.uk/) that allows you to use our service in
your bespoke applications.

Please [contact us]({% url "contact"%}) for more information about this.

{% endfilter %}

<script>
  var form = document.querySelector('#widget-options');
  if (form) {
    form.addEventListener('submit', handleWidgetOptions);
  }

  function handleWidgetOptions(event) {
    event.preventDefault();
    createWidgetVersion(form.elements.language.value);
  }

  function getEmbedCode(customAttributes) {
    return '<pre><code>&lt;noscript&gt;\n' +
      '  &lt;iframe src="https://wheredoivote.co.uk/embed/"\n' +
      '    style="width:100%; height:1100px" frameborder="0" scrolling="no"&gt;\n' +
      '  &lt;/iframe&gt;\n' +
      '&lt;/noscript&gt;\n' +
      '&lt;div id="dc_wdiv" '+ customAttributes + '&gt;&lt;/div&gt;\n' +
      '&lt;script type="text/javascript"\n' +
      '  src="https://widget.wheredoivote.co.uk/wdiv.js"&gt;\n' +
      '&lt;/script&gt;\n' +
      '</code></pre>\n';
  }

  function makeAttributeList(language) {
    var attrs = '';
    if ((language === 'en') || (language === 'cy')) {
      attrs = 'data-language="' + language + '" ';
    }
    return attrs + 'aria-live="polite" role="region"';
  }

  function makeWidget(language) {
    var div = document.createElement('div');
    div.setAttribute('id', 'dc_wdiv');
    if ((language === 'en') || (language === 'cy')) {
      div.setAttribute('data-language', language);
    }
    div.setAttribute('aria-live', 'polite');
    div.setAttribute('role', 'region');
    return div;
  }

  function makeScript() {
    var script = document.createElement('script');
    script.type = "text/javascript";
    script.src = "https://widget.wheredoivote.co.uk/wdiv.js";
    return script;
  }

  function createWidgetVersion(language) {
    var widgetArea = document.querySelector('#widget-area');
    var codeArea = document.querySelector('#code-area');
    var widget = makeWidget(language);
    var script = makeScript();
    var embedCode = getEmbedCode(makeAttributeList(language));
    widgetArea.innerHTML = '';
    widgetArea.appendChild(widget);
    widgetArea.appendChild(script);
    codeArea.innerHTML = embedCode;
  }
</script>
{% endblock main_content %}

