{% extends "projects/polling-stations/polling_stations_base.html" %}
{% load markdown_filter %}
{# fmt:off #}

{% block page_title %}
    Polling station finder
{% endblock page_title %}

{% block main_content %}
    
{% filter markdown %}


{% endfilter %}

{% include "_includes/polling_station_widget_embed_code.html" %}

{% filter markdown %}

## Adding your data
Work in a council and want your polling stations to work in the widget?
[Find out how to provide us with data]({% url 'projects:polling_data_upload' %}).

## Custom designs, white label and API

If you would like something other than the default design on your pages, we can
provide a white label or custom version. For software developers we have an
[API](https://developers.democracyclub.org.uk/) that allows you to use our service in
your bespoke applications.

Please [contact us]({% url "contact"%}) for more information about this.

{% endfilter %}

{% endblock main_content %}
