{% extends "projects/polling-stations/polling_stations_base.html" %}
{% load markdown_filter %}
{# fmt:off #}

{% block page_title %}
    Polling station finder
{% endblock page_title %}

{% block main_content %}
    
{% filter markdown %}

We'd love you to use our polling station finder on your web site. If you do, we kindly ask that you:

1. Credit Democracy Club, linking to our home page at [https://democracyclub.org.uk/](https://democracyclub.org.uk/) along side the embedded widget.
2. [Let us know]({% url 'contact' %}) you're using it. We don't limit use, but it's great to know who has used the embed feature.
3. Give us feedback either from your users or yourselves. We want to learn and iterate, and we can't do that without feedback!

##Customise and Embed
For councils in Wales, we offer optional Welsh language support.

{% endfilter %}

{% include "_includes/polling_station_widget_embed_code.html" %}

{% filter markdown %}

## Adding your data
Work in a council and want your polling stations to work in the widget?
[Find out how to provide us with data]({% url 'projects:polling_data_upload' %}).

## Custom designs, white label and API

If you would like something other than the default design on your pages, we can
provide a white label or custom version. For software developers we have an
[API](https://developers.democracyclub.org.uk/) that allows you to use our service in
your bespoke applications.

Please [contact us]({% url "contact"%}) for more information about this.

{% endfilter %}

{% endblock main_content %}
