{% extends "projects/polling-stations/polling_stations_base.html" %}
{% load markdown_deux_tags %}
{% load static %}

{% block page_title %}
<h1>Polling station finder</h1>
{% endblock page_title %}


{% block main_content %}
{% filter markdown %}
<h3>All you need to help people in your area to find their polling station.</h3>


Our polling station finder uses data sent to us from councils.


**If you work for a council you can send us data by emailing
[pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk).**

Please send us new data for each election, or confirm that it has not changed.

### Mapping

We are able to [display a map](https://wheredoivote.co.uk/example/) to help users find their assigned polling station.
If you want voters in your council area to access this feature, please ensure you have added **UPRNs** or **co-ordinates** to each polling station before you send us the file.

### Exporting from your EMS

Some suppliers have added exports in their software to make it easy to email us the data.

#### Xpress

The Democracy Club report is in "Express Management" under "Elections/Exports"
and the report is called "EC &amp; Democracy Club Polling Place Lookup".

#### Democracy Counts Elector8

For Elector8 Users, go to "Planning &amp; Reporting" then "Category Searches"
and select both of the following:

* Democracy Club - Polling Districts
* Democracy Club - Polling Stations

Right click on the data grid and click "export".

#### Idox Eros

There is a Knowledge Base Article (KBA) about how to export data. To find it press F1 within the EMS and search for ‘Democracy Club’, or else use [this link](https://www.halarose.co.uk/hohe/v21.1.001/index.html#!Documents/democracyclubpollingstationsforproperties.htm) (Eros version 21.1.001).

### Data changes

We only use data sent to us for the elections you tell us it's valid for.
We don't re-use data between elections, and we will email you asking
for updates between elections.


For last minute changes, including on polling day, you can email us and we will make
changes to the data on the live site. In a worst case scenario, we can remove all your data from
the site very quickly.


### Data restrictions

We don't need personal data to run the polling station finder but we may need
UPRNs or data from some of Ordnance Survey's products depending on the type of
data you are able to provide us with.

We have an agreement with The Electoral Commission under the Public Sector Mapping Agreement
that allows us to receive data that's in AddressBase including UPRNs.

If you send us geospatial data that's created from OS's BaseMap then this can be made public
under ‘presumption to publish’.
[You can read more about this here](http://www.ordnancesurvey.co.uk/docs/public-disclosures/presumption-to-publish-guidance-march-2015.pdf).

We suggest that you publish Geo data as a WFS layer from your GIS software.


### Using the finder on your website

If you provide data to us then you can embed our polling station finder directly on
your website, free of charge.

You'll need to add a bit of code to your site.
[Find out how]({% url "projects:polling_embed_code" %}).


<div class="ds-grid" style="--gridCellMin: 15ch; --gridGap: 1rem;">
  <ul>
    <li>
      <a href="https://www.digitalmarketplace.service.gov.uk/g-cloud/services/505951175500567">
        <img src="{% static "ccs-certificate.png" %}">
      </a>
    </li>
    <li>
      <img src="{% static "images/reusers/logo--the-electoral-commission.jpg" %}">
    </li>
  </ul>
</div>

*Want to talk to a human? Please email [pollingstations@democracyclub.org.uk](mailto:pollingstations@democracyclub.org.uk) or call on [03331 122450](tel:443331122450)*


{% endfilter %}
{% endblock main_content %}

