//
// Site header (.site-header [TODO: Refactor header area HTML in DC_theme])
//
//***********************************************************************

// Reset header styles
body > header { height: auto; padding: 0; }

	// Header container styles
	body > header .container {
		height: auto;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media(tablet) {
			align-items: flex-end;
		}
	}

		// Reset site logo styles
		body > header .container img {
			margin: 0;
			position: static;
			width: auto;
			top: auto;
			left: auto;
			vertical-align: bottom;
			min-width: 0;

			// New styles
			margin: 0.5em 0;
			max-width: 175px;
			@include media(tablet) {
				max-width: 200px;
			}
		}