.backlog_card {
//    background-color:red;
    position:relative;

    .backlog_card_text {
        h1, h2 {
            font-size:1.4rem;
        }
        h3 {
            font-size:1.2rem;
        }
    }

    .labels {
        display:inline-block;
        padding:0.3em;
        text-shadow: 0 0 5px rgba(0,0,0,.2),0 0 2px #000;
        color:#FFF;
        border-radius: 3px;
    }

    .backlog_card_comments {
//        position:absolute;
        top:0;
        right:0;
    }

}


