//
// Media card (.media-card)
//
//***********************************************************************
.media-card { margin-top: 20px; }

	// Image
	.media-card__img { display: none; }
		.media-card__img img { width: 100%; }

	// Title
	.media-card__title { margin: 0 0 6px; font-size: 18px; line-height: 1.2; }

	// Body area
	.media-card__body { font-size: 0.9em; }
		.media-card__body p { margin: 0 0 16px; }
