//
// Super header (.super-header) [Used on Homepage]
//
//***********************************************************************
.super-header {
	background-color: #3e3e58;
	color: #fff;
	padding: 50px 0.5em;
	@include media(desktop) {
		padding: 100px 0.5em;
	}
}

	.super-header__title {
		margin: 0 0 16px;
		padding: 0;
		color: #fff;
		line-height: 1.2;
	}
	.super-header__body { }
		.super-header__body p { margin: 0; padding: 0; }