{% load static %}

<div class="ds-block-centered ds-text-centered ds-stack">
    <div class="ds-cluster-center">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'projects:home' %}">Our work</a></li>
            <li><a href="{% url 'hermes_post_list' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact Us</a></li>
            <li><a href="{% url 'jobs' %}">Jobs</a></li>
            <li><a href="{% url 'privacy' %}">Privacy &amp; Terms</a></li>
            <li><a href="{% url 'coc' %}">Code of Conduct</a></li>
            <li><a href="{% url "hermes_post_feed" %}">Blog RSS/Atom feed</a></li>
            <li><a href="https://mastodon.me.uk/@DemocracyClub">Mastodon</a></li>
            <li><a href="https://twitter.com/democlub">Twitter</a></li>
            <li><a href="https://github.com/DemocracyClub">GitHub</a></li>
        </ul>
    </div>
    <div class="ds-copyright ds-width-full">
        <a class="ds-logo" href="https://democracyclub.org.uk/">
            <img src="{%  static "images/logo_icon.svg" %}" alt="" width="{{ SITE_LOGO_WIDTH|default:"100" }}"/>
            <span class="ds-text-left">democracy<br>club</span>
        </a>
        <p>Copyright &copy; {% now 'Y' %} Democracy Club</p>
        <p>Community Interest Company</p>
        <p>Company No: <a href="https://beta.companieshouse.gov.uk/company/09461226">09461226</a></p>
    </div>
</div>
