{#                      #}
{# Include: Donate box  #}
{#                      #}
<div class="feature-card feature-card--grey donate-box">
  <h3 class="feature-card__title">Join the club</h3>
  <div class="feature-card__body">
    <div class="feature-card__copy">
      <p>We're a tiny team on a big mission to make it easy to get more and better information on election candidates and the democratic process.</p>
      <p>But this costs money! We need developers, designers, hosting, email servers...as well as people to talk to the press and work with other organisations.</p>
      <p>Please help us to do this with a donation.</p>
    </div>
    <div class="donate-box__form">
      <form method="post" class="donate_form">

        {% csrf_token %}
        {{ donation_form.errors }}
        <div class="donation_amount">
          {{ donation_form.amount.label_tag }}
          <div>£{{ donation_form.amount }}</div>
        </div>

        {{ donation_form.payment_interval }}
        {{ donation_form.payment_type }}
        {{ donation_form.interval_length }}
        {{ donation_form.interval_unit }}

        <button type="submit" class="buttonNew">Next</button>
      </form>
    </div>
  </div>
</div><!-- /.donate-box -->