{#                      #}
{# Include: Donate box  #}
{#                      #}
{% load dc_forms %}
<div class="feature-card feature-card--grey donate-box">
  <h3 class="feature-card__title">Join the club</h3>
  <div class="feature-card__body">
    <div class="feature-card__copy">
      <p>
        We know democracy can work better. We have an ambitious goal to provide accurate, non-partisan information on every election and candidate in the UK, unbiased and unfiltered. We need your help to make it happen. Join the club.</p>
    </div>
    <div class="donate-box__form">
      <form method="post" class="donate_form inline_radios">
        {% csrf_token %}
        {{ request.donation_form.errors }}
        {{ request.donation_form|dc_form }}
        <button type="submit" class="buttonNew">Next</button>
      </form>
    </div>
  </div>
</div><!-- /.donate-box -->
