<ul class="documentation-list ds-stack-smaller">
    <li>Elections covered
        <ul>
            <li>District, County, and Unitary councils (including the City of London Corporation and Isles of Scilly Council)</li>
            <li>Directly elected mayors (Local Authority and Combined Authority)</li>
            <li>Police and Crime Commissioners</li>
            <li>London Assembly and Mayor of London</li>
            <li>Northern Ireland Assembly</li>
            <li>Scottish Parliament</li>
            <li>Senedd Cymru/Welsh Parliament</li>
            <li>UK Parliament</li>
            <li>National and Local Authority-wide referendums</li>
        </ul>
    </li>

    <li>Geographical
        <ul>
            <li>Dates</li>
            <li>Ward/division/constituency information: name,
                total seats, number of seats contested,  link to
                boundary legislation; geographical groupings
                (UK nation or <a href="https://en.wikipedia.org/wiki/Regions_of_England">English region</a>)
            </li>
        </ul>
    </li>

    <li>Candidates
        <ul>
            <li>
                Nomination data
                <ul>
                    <li>Name</li>
                    <li>Party</li>
                </ul>
            </li>
            <li>
                Profile data (where collected)
                <ul>
                    <li>Social media profiles</li>
                    <li>Photos</li>
                    <li>Email addresses</li>
                    <li>Statements to voters</li>
                    <li>Favourite biscuits</li>
                    <li>Election Leaflets</li>
                    <li>Year of birth</li>
                </ul>
            </li>
        </ul>
    </li>

    <li>Polling Places
        <ul>
            <li>Polling place address</li>
            <li>Polling Place latitude and
                longitude (where provided by the local authority)
            </li>
            <li>Latitude and longitude of the postcode centroid</li>
            <li>Address disambiguation (split postcodes)
                - if there are two polling stations in a
                postcode, we send you to the right place.
            </li>
        </ul>
    </li>

    <li>Hustings (experimental field)
        <ul>
            <li>We have the capacity to collect and publish
                information about hustings events - please
                <a href="mailto:hello@democracyclub.org.uk">
                    get in touch</a> if this is something you are
                interested in.
            </li>
        </ul>
    </li>

    <li>Special Notifications
        <ul>
            <li>When there are special notifications in specific
                elections, additional information will be provided. </li>
            Examples include:
            <ul>
                <li>Notifications of cancelled or postponed elections</li>
                <li>Voting pilots (eg. <a href="https://democracyclub.org.uk/blog/2022/04/20/pwy-alla-i-bleidleisio-ar-gyfer/" >advance voting</a>)</li>
                <li>Rapid updates if polling stations change near to or during polling day</li>
            </ul>
        </ul>
    </li>
</ul>
