
$primary-color: #E6007E;
$body-text-colour: #58595B;
$heading-text-colour: #403F41;
$off-black: #403F41;

$dc-bright-blue: #00AEEF;
$dc-bright-pink: #EC008C;

$menu-background: transparent;
$menu-background-hover: #E6007E;
$menu-text-hover: white;


$global-radius: 0;
$button-background: $dc-bright-blue;

$sanserif-font: Avenir, sans-serif;
$serif-font: "Adobe Caslon Pro", Georgia,Cambria,"Times New Roman",Times,serif;
