{% extends "base.html" %}
{% load django_markdown %}

{% block content %}

{% filter markdown %}
There’s [only a few days](https://twitter.com/DaysToElection) until the next general election.

In 2010 7,000 non-partisan volunteers [got together](http://news.bbc.co.uk/1/hi/uk_politics/election_2010/8651258.stm) as Democracy Club and got stuck in doing a range of useful, simple activities like working out who all the candidates were, and collecting information about what they thought about major issues. But it was just an experiment, and one that was started a bit too close to the election to have much impact.

In 2015 we want to do far better, and so we’re starting far earlier.  We want to form a community of people who just want the election to be better. More facts, less bluster. More issues, fewer non-stories.

If you want to be involved please let us have your [email]((https://groups.google.com/forum/#!forum/democracy-club)), or [follow us on twitter](https://twitter.com/democlub). We need to work together to work out how to make this the best election Britain’s ever had.

## Which side are you on?

Democracy Club is non-partisan. We do not support a party. We do not receive money from any party donors. We do not take policy positions - not even on things like the age of voting. We are concerned with collating data and building tools that enable people to be better informed.

## What happens after the election?

We imagine that there’s a role for a non-partisan organisation to continue to build tools and harness the crowd to constantly improve the state of democracy in the UK. There are also a lot more elections: local councils, devolved parliaments and assemblies, Police & Crime Commissioners, Mayoral and European elections. All of these elections could benefit from a more informed, better engaged electorate.

We see 2015 as a test run for something really big - something on a grand nationwide scale in 2020, where a better informed electorate results in a better election.

## Who are we?

We aren’t exactly an army, and we don’t have any money.

But we are a group of people who think that in these ultra-sceptical times there must be a bunch of other people out there who think that we can work together to make the next election just suck less.

People already involved include:

{% endfilter %}
<h3><a href="https://twitter.com/symroe">Sym Roe</a></h3>
<p>Making it happen. Are you a web developer or designer? Please talk to Sym!</p>

<h3><a href="https://twitter.com/j0e_m">Joe Mitchell</a></h3>
<p>Joe was born in Wales. He doesn't remember it. He thinks that our most tricky political problems are systemically linked by a lack of a democracy. A lack of transparency, accountability and public engagement in political decision-making. He thinks digital tools can begin to empower everyone to make democracy better. He can't code, so generally tries to encourage others. He's @j0e_m on twitter.</p>

<h3><a href="https://twitter.com/mhl20">Mark Longair</a></h3>
<p>Mark is a developer working for mySociety on their Parliaments team; he's been working on development of YourNextMP, both as part of his day job and as a volunteer for Democracy Club.</p>

<h3><a href="https://twitter.com/EmiRandall">Emily Randall</a></h3>
<p>Keeping it networked, Emily comes from Unlock Democracy with a passion for making elections transparent. Currently running ElectionLeaflets.org and making noise about DC whenever she can.</p>

<h3><a href="https://twitter.com/meandvan">Mevan Babakar</a></h3>
<p>Mevan has worked at Bite the Ballot, Cancer Research and Full Fact. She introduced Britain to it's first ever National Voter Registration Day and has won a pancake eating competition in her lifetime.</p>

<h3><a href="http://tfgg.me/">Tim Green</a></h3>
<p>Tim worked on Democracy Club at the last election and has created two candidate sites in the interim, YourNextPCC and YourNextMEP. He thinks that lowering barriers to entry for understanding our system is critical if we want to improve UK democracy, and non-partisan online tools are the best way to achieve this. His day job is simulating atoms in computers or something. He lives in Oxford and likes loud music.</p>

<h3><a href="https://twitter.com/jarofgreen">James Baster</a></h3>
<p>James Baster is a freelance developer based in Edinburgh, Scotland. Having lived through a vote where people actually cared (85% turnout!) he wants to get everyone involved. He has a background in community event calendars with other communities and has worked with Open Rights Group on digital rights.</p>

<h3><a href="https://twitter.com/andylolz">Andy Lulham</a></h3>
<p>Andy is a developer, but for Democracy Club he spends most of his time politely replying to emails from election candidates and other website users. He thinks transparency is in almost everyone’s best interests.</p>

{% endblock %}