{% extends "base.html" %}
{% load django_markdown %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block page_content %}
<h1>About</h1>
{% filter markdown %}


### Democracy Club aims to make the process of democracy better for everyone.

We believe that there is a lot of work needed to be done to bring the UK
political system in the to digital age, and our tools are a start.

In this video from March 2016, Joe Mitchell — a co-ordinator at Democracy Club - explains how we try to do this.

<div class="u-responsive-video">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/efA1l9q7a1M" frameborder="0" allowfullscreen></iframe>
</div>

Some of the things we do are:

* Organise a group of several thousand volunteers who want to make democracy
  better. [Join them]({% url 'home' %})!

* Crowdsource and maintain a list of [candidates](https://candidates.democracyclub.org.uk/) for elections. [Contact us]({% url 'contact' %}) if
  you are interested in using it.

* Run a [polling station finder](http://pollingstations.democracyclub.org.uk/) to make it possible to find out where you can
  vote, online. We work with local government to publish the data that powers
  it.

* Build voter information services, like 2015’s YourNextMP and 2016's [WhoCanIVoteFor](https://whocanivotefor.co.uk). Together our services and data have helped over 1.3m people learn about their local candidates.

* Run a [register of elections](https://democracyclub.org.uk/projects/election-ids/). Elections - especially by-elections - are happening regularly across the UK. But until now, nobody had developed an ID system that would allow us to capture them all and to run tools that work across many elections.

* Collect [election leaflets](https://electionleaflets.org/) in a public archive. We ask the public to snap a
  photo of leaflets put through their door so the world can see them.

There’s a [big list of other things we want to do on Github](https://github.com/DemocracyClub/Ideas/blob/master/IDEAS.mkd).

### History

In 2010 7,000 [non-partisan volunteers got together as Democracy Club](http://news.bbc.co.uk/1/hi/uk_politics/election_2010/8651258.stm) and
started doing useful, simple activities like working out who all the
candidates were, and collecting information about what candidates thought
about major issues.

In 2015 we got bigger. We crowdsourced the most comprehensive and accurate
database of candidates in recent electoral history. It was used by
organisations like Google, 38 Degrees and The Daily Telegraph. We also
crowdsourced the largest list of hustings in the UK, collected press mentions,
election leaflets and CVs of each candidate. Over a million people directly
used our services, and millions more benefitted from the data through third
parties.

### Which side are we on?

Democracy Club is non-partisan. We do not support any political party. We do
not take policy positions, even on things like electoral reform. We are
concerned with collating data and building tools that enable people to be
better informed.

### Who funds us?

We are grateful for project-based funding from the Rowntree Trust and
Google.org. We were part of Bethnal Green Ventures’ Winter 2016 cohort.

We are actively seeking core funding to create a sustainable organisation to
make democracy work better for everyone. [Please get in touch if you share our
vision](mailto:joe@democracyclub.org.uk).

If you can chip in right now, [please set up a monthly donation]({% url 'donations:donate' %}).

### Connect with us

* [Like us on Facebook](https://www.facebook.com/democracyclub/).
* [Follow us on Twitter](https://twitter.com/democlub).
* [Start a discussion in the Google Group](https://groups.google.com/forum/#!forum/democracy-club).

### Who are we?

Currently, the club is coordinated by Sym and Joe.

![Joe and Sym, Democracy Club coordinators](https://s14.postimg.org/n8t6twmk1/Joe_Sym_with_names_800x500.jpg "Sym and Joe")

#### [Sym Roe](https://twitter.com/symroe)
Sym is a developer and has worked in the open/government space for years. He runs Democracy Club partly by writing code and partly by working with others to build a community of organisations who want to work together.

#### [Joe Mitchell](https://twitter.com/j0e_m)
Joe thinks that our most tricky political problems are systemically linked by weak democratic engagement. He thinks digital tools can begin to empower everyone — even those who don’t use them directly — to make democracy better. He has a background in public engagement, advocacy and public sector marketing.

There are also ten to twenty core individuals who volunteer to make Democracy Club happen, two of whom are highlighted here:

#### [Tim Green](http://tfgg.me/)
Tim worked on Democracy Club over the 2010 election and has created two other candidate sites, YourNextPCC and YourNextMEP. He thinks that lowering barriers to entry for understanding our system is critical if we want to improve UK democracy, and non-partisan online tools are the best way to achieve this.

#### [Mark Longair](https://twitter.com/mhl20)
Mark is a developer working for mySociety on their parliaments team. He's been working on development of the code that powers Democracy Club’s candidates crowdsourcer, both as part of his day job and as a volunteer for Democracy Club.




{% endfilter %}

{% endblock page_content %}
