{% extends "base.html" %}
{% load django_markdown %}

{% block title %}About | {{ block.super }}{% endblock title %}

{% block extra_page_css %}
<style>
blockquote {
  font-style: italic;
  font-size: 1em;
  margin: 0;
  color: #999;
  padding: 0rem 1rem;
  border-left: .25rem solid #999;
  display: block;
}
</style>
{% endblock %}

{% block content %}
<h1>About</h1>

<div class="fukol-grid">

  <div class="fukol-grid__col fukol-grid__col--60-70">

{% filter markdown %}

### Democracy Club’s vision is of a society in which democracy thrives through knowledge, participation and openness.

Our mission is to use open data, design and technology to give every citizen the information and participation opportunities they need, in a way that suits them.

We are non-partisan and we work openly. We’re a community of 10,000 volunteers and a small core team.

We don’t have a view of ‘the perfect democracy’. Instead, we try to make constant iterative improvements based on citizens’ needs. We judge those needs based on publicly available research, feedback on our websites and online search data.

## What we do

### The club

We coordinate a club of thousands of democracy volunteers, who do small online tasks to help make democracy better. The club help create our Data and Apps.

### Data

We create the tools to aggregate data for democracy and make it available to everyone. This includes lists of elections, candidates and polling locations. Our data is trusted by the Electoral Commission, Google, Facebook, the Guardian and more.

### Apps

We build apps to answer direct questions from voters, such as 'Who can I vote for?' and 'Where do I vote?'.

Try out the Apps and get the Data via our [Projects page](http://democracyclub.org.uk/projects).


## What people say about us

Our data has reached over 12m people. Here’s what some of them say:

> “Amazing accessible website that encourages people to vote by its sheer simplicity.”

<!---->

> “This was a very quick and precise answer to my question. Well Done!”

<!---->

> “Exactly what I was looking for. I appreciate the work of democracyclub and its supporters in providing this resource.”

### People who work on democracy trust us
{% endfilter %}

<p>
<blockquote>
    “We've been impressed by Democracy Club's attention to detail and ability to make things work. We have complete trust in the data they provide and are highly supportive of their efforts to help voters get more information about elections.”
</blockquote>

<strong>— Stuart Harrison, Senior Communication Officer, The Electoral Commission</strong>
</p>

<p>
<blockquote>
    “Democracy Club provide reliable, vital and timely election-related data that is a great boon for democracy in the UK.”
</blockquote>

<strong>— Patrick Dunleavy, Professor of Political Science and Public Policy, London School of Economics</strong>
</p>

<p>
<blockquote>
        “...making this information available centrally will become an invaluable service for citizens...”
</blockquote>

<strong>— Chris Skidmore MP, Minister for the Constitution</strong>
</p>

{% filter markdown %}
### Here’s a roundup of articles about us

- Oxford City Council (2017) *[“Collaboration, Not Reinvention”](http://digital.oxford.gov.uk/blog/2017/05/17/collaboration-not-reinvention)*
- TBD (2017) *[“Democracy Club”](https://www.tbd.community/en/a/democracy-club-uk)*
- The Guardian (2017) *[“Democracy? There’s an app for that”](https://www.theguardian.com/politics/2017/jun/06/democracy-theres-an-app-for-that-the-tech-upstarts-trying-to-hack-british-politics)*
- The Guardian (2017) *[“Why are British voters in the dark about this week’s elections?”](https://www.theguardian.com/commentisfree/2017/may/03/british-voters-local-elections-councils)*
- The Guardian (2017) *[“Our democracy is broken, debased and distrusted – but there are ways to fix it”](https://www.theguardian.com/commentisfree/2017/jan/25/democracy-broken-distrusted-trump-brexit-political-system)*
- The Electoral Commission (2017) *[“How We Set Up A Campaign In 12 Days”](https://ukelectoralcommission.wordpress.com/2017/09/14/how-we-set-up-a-campaign-in-12-working-days/)*
- The Electoral Commission (2017) *[“Partnerships”](https://www.electoralcommission.org.uk/find-information-by-subject/electoral-registration/2017-uk-general-election-campaign/partnerships)*
- TechPresident (2015) *[“Democracy Club Finally Lets Brits Know Who Is Running For Parliament”](http://techpresident.com/news/25519/democracy-club-brings-transparency-uks-obscure-election-procedures)*

## Who we are

We’re a 10,000 strong digital community who work online via Slack and Trello. Club members put in hundreds of hours of work to help build the databases that help inform voters. They sometimes get points for doing so: here's the [leaderboard](https://candidates.democracyclub.org.uk/leaderboard).

The club is supported by a core team of three coordinators:

![From left: Sym, Joe and Chris — Democracy Club coordinators](https://democracyclub.org.uk/media/hermes/heroes/now-we-are-three_hero.jpg "Sym, Joe and Chris")


**Sym Roe ([@symroe](https://twitter.com/symroe))**

Sym has 15 years experience in open data, government and technology, for folks like Government Digital Service, Ministry of Justice and FarmSubsidy.org. He has never knowingly set foot in a school. He lives in Stroud and has still not been a candidate on the Great British Bake Off.

**Joe Mitchell ([@j0e_m](https://twitter.com/j0e_m))**

Joe has a decade of experience in advocacy, communications and marketing, including with the UK Civil Service and United Nations. He went to many universities. He lives in Bristol, even though he is probably not cool enough to do so.

**Chris Shaw**

Chris has over 10 years of experience in software development and data wrangling in the research and education sectors. He studied Computer Science in Swansea, where he now lives. He started working on Democracy Club projects as a volunteer. We haven't worked out how to make him stop yet.

The core team is overseen by an experienced board of directors:

- Alice Casey
- Alison Walters
- Ian Watt
- Mevan Babakar
- Olly Benson
- Rebecca Eligon
- Rebecca Kemp
- Sarah Hartley

[Read about the board here.](https://democracyclub.org.uk/blog/2017/12/01/weve-got-board/)

## Who funds us

Ideally, you do. [Chip in £3/month here](https://democracyclub.org.uk/donate/). Your donations will mean we can do this work openly, for everybody.

We also seek institutional funding. We're grateful to our existing and previous funders:

- Unbound Philanthropy
- The Electoral Commission
- The Welsh Government
- Joseph Rowntree Trust
- Google.org


{% endfilter %}

  </div><!-- ./fukol-grid__col -->
  <div class="fukol-grid__col fukol-grid__col--40-30">

    {% include "_includes/form--donate-box.html" %}

  </div><!-- /.fukol-grid__col -->
</div><!-- /.fukol-grid -->


{% endblock content %}
