{% extends "dc_base.html" %}
{% load static from staticfiles %}
{% load pipeline %}
{% load staticfiles %}


{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}

{% block site_menu %}
        <nav role="navigation">
          <ul class="fukol-grid menu">
            <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
            <li {% if request.path == "/about/" %}class="active"{% endif %}><a href="/about/">About</a></li>
            <li {% if request.path|slice:":10" == "/projects/" %}class="active"{% endif %}><a href="/projects/">Projects</a></li>
            <li {% if request.path == "/blog/" %}class="active"{% endif %}><a href="/blog/">Blog</a></li>
            <li {% if request.path == "/contact/" %}class="active"{% endif %}><a href="/contact/">Contact</a></li>
            <li {% if request.path == "/donate/" %}class="active"{% endif %}><a href="/donate/">Donate</a></li>
          </ul>
        </nav>
{% endblock site_menu %}

{% block site_meta %}
    <title>{% block title %}{% endblock title %}{{ site_title }}</title>
    {{ block.super }}
    <link rel="alternate" type="application/atom+xml" title="Democracy Club Blog" href="{% url "hermes_post_feed" %}" />

    <link rel="manifest" href="{% static "manifest.json" %}">
    <meta property="fb:pages" content="316731041785" />
{% endblock site_meta %}

{% block base_og_tags %}
<meta property="fb:app_id" content="262795130596272" />
<meta property="og:url" content="https://democracyclub.org.uk{{ request.path }}" />
{% endblock base_og_tags %}


{% block content %}
<article>
    {% block page_content %}{% endblock page_content %}
</article>
{% endblock content %}



{% block site_footer %}
<footer class="hide_for_print">
  <div class="container">
    <h2>Join our mailing list</h2>
    <form action="https://mail.democracyclub.org.uk/subscribe" method="POST" accept-charset="utf-8" id="signup_form">
        <div class="form-group">
            <label for="name">
                Name
                <input type="text" name="name" id="name" required>
            </label>
            <label for="email" >
                Email
                <input type="email" name="email" id="email" required>
            </label>
        </div>
        <input type="hidden" name="list" value="uFrDEpP6B892qUiD2KwEI892Pg"/>
        <button type="submit" name="submit" id="submit">Join</button>
    </form>


    <header>
      <h2>About Us</h2>
    </header>
    <ul>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact Us</a></li>
      <li><a href="{% url 'privacy' %}">Privacy &amp; Terms</a></li>
      <li><a href="{% url "hermes_post_feed" %}">Blog RSS/Atom feed</a></li>
      <li><a href="https://twitter.com/democlub">@democlub</a></li>
    </ul>
    <p>Copyright &copy; 2016 Democracy Club Community Interest Company Company No: <a href="https://beta.companieshouse.gov.uk/company/09461226">09461226</a></p>
  </div>
</footer>
{% endblock site_footer %}


{% block ga_tracking_code %}
{% if request.META.HTTP_HOST != "localhost:8000" %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-52202336-1', 'democracyclub.org.uk');
  ga('send', 'pageview');
  </script>
{% endif %}
{% endblock ga_tracking_code %}
