{% load pipeline %}
{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    {% block extra_site_css %}
    {% stylesheet 'styles' %}
    {% endblock extra_site_css %}

    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
</head>

<body class="ds-width-full">
    <div class="ds-page">
        <p><a class="ds-skip-link" href="#main">skip to content</a></p>
        {% block site_menu %}
        <header class="ds-header">
            <a class="ds-header-home" href="/">
                <img src="https://democracyclub.github.io/design-system/images/logo.svg" alt="Democracy Club home" />
            </a>
            <nav>
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                        <a href="/projects/">Our work</a>
                    </li>
                    <li>
                        <a href="/blog/">Blog</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>
        {% endblock site_menu %}
        <main id="main" tabindex="-1" class="ds-stack">

            {% block site_meta %}
            <title>{% block title %}{% endblock title %}{{ site_title }}</title>
            <link rel="alternate" type="application/atom+xml" title="Democracy Club Blog" href="{% url "hermes_post_feed" %}" />

            <link rel="manifest" href="{% static "manifest.json" %}">
            <meta property="fb:pages" content="316731041785" />
            {% endblock site_meta %}

            {% block base_og_tags %}
            <meta property="fb:app_id" content="262795130596272" />
            <meta property="og:url" content="https://democracyclub.org.uk{{ request.path }}" />
            {% endblock base_og_tags %}

            {% block header %}

            {% endblock header %}


            {% if messages %}
            <aside class="ds-status messages" aria-label="Status">
                <ul class="ds-stack">
                    {% for message in messages %}
                    <li {% if message.tags %}class=" {{ message.tags }} ds-status-message " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}

            {% block content %}
            {% block page_content %}{% endblock page_content %}
            {% endblock content %}
        </main>

        <!-- FOOTER -->
        {% block site_footer %}
        <footer class="ds-footer">
            {% include "email_form/mailing_list_form.html" %}
            {% include "_includes/footer_internal_links.html" %}
        </footer>
        {% endblock site_footer %}
    </div>
</body>

{% block ga_tracking_code %}
{% if request.META.HTTP_HOST != "localhost:8000" %}
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-52202336-1', 'democracyclub.org.uk');
    ga('send', 'pageview');
</script>
{% endif %}
{% endblock ga_tracking_code %}

</html>