{% extends "base.html" %}
{% load django_markdown %}

{% block page_content %}
<h1>Code of conduct</h1>

{% filter markdown %}

## Democracy Club is about politics, not a venue for politics.

### This code applies to everyone in Democracy Club

This code of conduct has been established so that everyone can feel safe and welcome no matter who they are.  We have a few ground rules that we ask everyone to adhere to, so that together we can reach our goals.

This includes employed staff, board members contractors, volunteers and anyone using our Slack, email list, issue trackers or attending one of our events or participate through one of our forums.

### Principles of the code

* We advocate non-partisan positions which support our vision of a democracy that thrives through knowledge, participation and openness.
* We promote and support a transparent and open political system; through improving democracy, elections, and voting so that everyone has access to information they need to participate.
* We listen to and respect each others’ views, but we leave our political differences at the door.

### We respect that other people have differing political views

Our organisation supports no political party. We understand that everyone involved in Democracy Club will have political views. These  should be kept apart from the process of improving democracy for everyone in the UK. As part of Democracy Club you should respect that other people have differing political views. Democracy Club is not a forum for debating politics.


### You agree to:

* **Be friendly and patient.**
* **Be welcoming**. We strive to be a community that welcomes and supports people of all backgrounds and identities. This includes, but is not limited to members of any race, ethnicity, culture, national origin, colour, immigration status, social and economic class, educational level, sex, sexual orientation, gender identity and expression, age, size, family status, political belief, religion, and mental and physical ability.
* **Be considerate**. Your work will be used by other people, and you in turn will depend on the work of others. Any decisions you take will affect users and colleagues, and you should take those consequences into account when making decisions. Remember that you might not be communicating in someone else's primary language.
* **Be respectful**. Not all of us will agree all the time, but disagreement is no excuse for poor behaviour and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack. It’s important to remember that a community where people feel uncomfortable or threatened is not a productive one. Members of Democracy Club should be respectful when dealing with other members as well as with people outside Democracy Club.
* **Be careful in the words that you choose**. Be kind to others. Do not insult or put down other participants. Harassment and other exclusionary behaviour aren't acceptable. This includes, but is not limited to:
    * Violent threats or language directed against another person.
    * Discriminatory jokes and language.
    * Advancing harmful stereotypes
    * Posting sexually explicit or violent material.
    * Posting (or threatening to post) other people's personally identifying information ("doxing").
    * Personal insults.
    * Racist or sexist terms.
    * Unwelcome sexual attention.
    * Advocating for, or encouraging, any of the above behaviour.
    * Repeated harassment of others. In general, if someone asks you to stop, then stop.
* **When we disagree, try to understand why**. Disagreements, both social and technical, happen all the time and Democracy Club is no exception. It is important that we resolve disagreements and differing views constructively. Remember that we’re different. The strength of Democracy Club comes from its varied community, people from a wide range of backgrounds. Different people have different perspectives on issues. Being unable to understand why someone holds a viewpoint doesn’t mean that they’re wrong. Don’t forget that it is human to err and blaming each other doesn’t get us anywhere. Instead, focus on helping to resolve issues and learning from mistakes.

This isn’t an exhaustive list of things that you can’t do. Rather, take it in the spirit in which it’s intended - a guide to make it easier to enrich all of us and the community.

## If things go wrong

As a member of Democracy Club we encourage you to speak up if you feel someone isn’t sticking to the spirit of this code.  You can do this in confidence by getting in touch with [Sym](mailto:sym@democracyclub.org.uk) or [Joe](mailto:joe@democracyclub.org.uk).  Any action taken will be at their discretion, but may include reducing access to services run through Democracy Club.


{% endfilter %}

{% endblock %}
