{% extends "base.html" %}

{% block title %}Contact | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="columns large-8">

    <h2>Contact Democracy Club</h2>

    <h3>"I'm a candidate, you've got xyz wrong..."</h3>
    <p>You can edit our candidates database by going <a href="https://candidates.democracyclub.org.uk">to this link</a>. If you get stuck, please email <a href="mailto:hello@democracyclub.org.uk">hello@democracyclub.org.uk</a>.</p>
   
    <h3>"I work in a council, how do I send you polling station data?"</h3>
    <p>You can learn more about our polling station finder <a href="https://democracyclub.org.uk/projects/polling-stations/">here</a> — and send us data according to the instructions <a href="https://democracyclub.org.uk/projects/polling-stations/upload/">here</a>.</p>
    
    <h3>Media and speaking</h3>
    <p>For all media enquiries, please email <a href="mailto:hello@democracyclub.org.uk">
      hello@democracyclub.org.uk</a> or call <a href="tel:+447742079314">07742079314</a></p>

    <h3>New project ideas</h3>
    <p>
      If you have an idea for a new project, the best thing to do is to
      <a href="https://groups.google.com/forum/#!forum/democracy-club">
        post to the email list about it</a>.
        If for some reason you can't post about it, please email
      <a href="mailto:team@democracyclub.org.uk">team@democracyclub.org.uk</a>
    </p>

    <h3>Problems with sites</h3>
    <p>
      If you've found a problem with one of our sites, please let us know on
      <a href="https://twitter.com/democlub">twitter</a> or by emailing
      <a href="mailto:team@democracyclub.org.uk">team@democracyclub.org.uk</a>
    </p>
  </div>
</div>


{% endblock content %}
