{% extends "base.html" %}

{% block title %}Contact | {{ block.super }}{% endblock title %}

{% block page_content %}
<div class="row">
  <div class="columns large-8">

    <h2>Contact Democracy Club</h2>

    <h3>Press &amp; speaking</h3>
    <p>For all press, please email <a href="mailto:sym@democracyclub.org.uk">
      sym@democracyclub.org.uk</a> or call <a href="tel:+447742079314">07742079314</a></p>

    <h3>New project ideas</h3>
    <p>
      If you have an idea for a new project, the best thing to do is to
      <a href="https://groups.google.com/forum/#!forum/democracy-club">
        post to the email list about it</a>.
        If for some reason you can't post about it, please email
      <a href="mailto:team@democracyclub.org.uk">team@democracyclub.org.uk</a>
    </p>

    <h3>Problems with sites</h3>
    <p>
      If you've found a problem with one of our sites, please let us know on
      <a href="https://twitter.com/democlub">twitter</a> or by emailing
      <a href="mailto:team@democracyclub.org.uk">team@democracyclub.org.uk</a>
    </p>
  </div>
</div>


{% endblock %}
