{% extends "base.html" %}

{% block content %}

<h2>Use our data</h2>

<p>We want to make all our data as easy to use as possible.</p>
<p>Please <a href="/contact/">talk to us</a> if you have any particular
  requirements, or are after some advice on UK election data of any sort.</p>

<h3>Open Electoral Commission</h3>

<p>This is a very unfinished work in progress, but it already offers a list
  of UK political parties in <code>JSON</code> format.</p>

<p>This includes party emblems, names of various party officer and addresses.</p>

<p>All the data is scraped from the ElectoralCommission web site because their
  site doesn't allow deep linking or any form of machine readable version</p>

<p><a href="http://openelectoralcommission.org.uk/parties/">Browse the list of
  parties</a> or <a href="http://openelectoralcommission.org.uk/parties/index.json">
    consume the <code>JSON</code></a></p>

<h3>YourNextMP.com</h3>

<p>Backed by the <a href="http://www.popoloproject.com/">Popolo data standard</a>
  using <a href="https://www.mysociety.org/">mySociety's</a>
  <a href="http://popit.poplus.org/">PopIt backend</a>, YourNextMP.com
  is the high quality source of free UK candidate data.</p>
<p>We currently have data for the 2010 and 2015 General Elections and hope to
  add more elections in the future.</p>
<p>The data is under <a href="https://creativecommons.org/licenses/by-sa/4.0/">
  CC BY-SA 4.0</a>.  Find out more at the <a href="https://yournextmp.com/help/api">
    Open Data API page</a></p>

<h3>Election Leaflets</h3>

<p>We have a huge archive of election leaflets that is ready for anyone to
  analyse.  Please <a href="/contact/">contact us</a> if you would like to know more</p>

{% endblock content %}