{% extends "base.html" %}

{% block content %}

<p>Have you found our tools useful? Would you like to help us make them better?</p>

<p>We're a tiny team on a big mission to make it easy to get more and better information on election candidates and the democratic process.</p>

<p>But this costs money! We need developers, designers, hosting, email servers...as well as people to talk to the press and work with other organisations.</p>

<p>We really want to keep making democracy better, even after the election.</p>

<p>Please help us to do this with a one-off or regular donation.</p>


<form method=post class="donate_form">
  {% csrf_token %}
  {{ form.errors }}
  <div class="donation_amount">
    {{ form.amount.label_tag }}
    <div>£{{ form.amount }}</div>
  </div>

  {{ form.payment_interval }}
  {{ form.payment_type }}
  {{ form.interval_length }}
  {{ form.interval_unit }}



  <button type=submit>Next</button>
</form>

<p>Want an alternative way to donate? <a href="mailto:hello@democracyclub.org.uk">Email us</a>!</p>

<p>Democracy Club is a Community Interest Company.</p>
<p>In the event we raise enough money to cover our costs, we will
  use any surplus to improve or build on our services.</p>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
  $('#donation_frequency').hide()
  if ($('input[name=payment_type]:checked').val() == "subscription") {
    $('#donation_frequency').show()
  }
  $('input[name=payment_type]:radio').change(function() {
    if (this.value == "subscription") {
      $('#donation_frequency').show()
    } else {
      $('#donation_frequency').hide()
    }
  })
</script>
{% endblock javascript %}