{% extends "base.html" %}
{% block page_title %}Donate{% endblock page_title %}

{% block content %}
    <div class="ds-stack ds-text-centered">
        <h1>Access to democracy is a fundamental human right</h1>

        <p>In a world which is increasingly concerned about the
            effect of the internet on democracy, we’re using digital
            and data to expand access for everyone.</p>


        <div>
            <div>
                <p><a href="https://www.paypal.com/biz/fund?id=EX33MCYQ9UUDJ" class="ds-cta">Donate now</a></p>
            </div>
        </div>

        <p>Democracy Club is a non-profit Community Interest Company.
            About half of our work is funded by donations from individuals
            and philanthropic organisations. The other half is from sales
            revenue for our APIs and other services.
        </p>
        <p>
            By supporting Democracy Club, you'll be helping us to deliver
            our core election information services to millions of UK voters,
            as well as supporting our research and the development of new products.
        </p>
        <p><strong><a href="{% url 'impact' %}">Find out more about the impact we've already made in the UK.</a></strong></p>
    </div>

{% endblock content %}
