{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load typogrify_tags %}
{% load thumbnail %}


{% block header %}
{{ block.super }}
<div class="super-header">
  <div class="site-wrapper">
    <h2 class="super-header__title">Democracy needs an upgrade</h2>
    <div class="super-header__body">
      <p>We're bringing the UK's democratic process into the 21st century.</p>
      {# <p> #}
        {# <a href="{% url "backlog:backlog_view"%}">Read about how you can help</a>, or #}
        {# <a href="https://democracyclub.org.uk/donate/?utm_source=banner">donate now</a> to support our work. #}
      {# </p> #}
    </div>
  </div><!-- /.site-wrapper -->
</div><!-- /.super-header -->
{% endblock %}

{% block content %}

<section class="card">
  <h2><a href="/report_2018">Towards better elections</a></h2>
  <p>Read our report on Democracy Club’s work on the 2018 elections and the future of digital services for democracy</p>
</section>

<div class="section-header">
  <h3 class="section-header__title"><a href="/projects/">Our Projects</a></h3>
  <div class="section-header__body">
    <p>The data we create is open and free to use. Google, Buzzfeed, The Guardian and others have used our data to reach millions of people.</p>
  </div>
</div><!-- /.section-header -->

<div class="fukol-grid">

  <div class="fukol-grid__col fukol-grid__col--60-70">

    <div class="feature-card-wrapper">

      <article class="feature-card" itemscope itemtype="http://schema.org/WebSite">
        <h3 class="feature-card__title" itemprop="name"><a href="https://wheredoivote.co.uk/" itemprop="url" target="_blank">Where Do I Vote? <i class="fa fa-external-link feature-card__icon"></i></a></h3>
        <div class="feature-card__body">
          <div class="feature-card__copy">
            <p>Our polling station finder answers one of the most popular questions on election days in the UK.</p>
          </div>
        </div>
        <div class="feature-card__ctrl">
          <a href="{% url "polling_one_pager" %}" class="feature-card__link buttonNew buttonNew--outline">Read more</a>
        </div>
      </article><!-- /.feature-card -->

      <article class="feature-card" itemscope itemtype="http://schema.org/WebSite">
        <h3 class="feature-card__title" itemprop="name"><a href="https://whocanivotefor.co.uk/" itemprop="url" target="_blank">Who Can I Vote For? <i class="fa fa-external-link feature-card__icon"></i></a></h3>
        <div class="feature-card__body">
          <div class="feature-card__copy">
            <p>A one-stop shop for everything voters need to know about their candidates. Used by 1.5m people since 2015.</p>
          </div>
        </div>
        <div class="feature-card__ctrl">
          <a href="/projects/#project--whocanivotefor" class="feature-card__link buttonNew buttonNew--outline">Read more</a>
        </div>
      </article><!-- /.feature-card -->

      <article class="feature-card" itemscope itemtype="http://schema.org/WebSite">
        <h3 class="feature-card__title" itemprop="name"><a href="https://candidates.democracyclub.org.uk/" itemprop="url" target="_blank">Candidates database <i class="fa fa-external-link feature-card__icon"></i></a></h3>
        <div class="feature-card__body">
          <div class="feature-card__copy">
            <p>Our members crowdsource data on every candidate for every election. We make it free and open for anyone to use.</a>.</p>
          </div>
        </div>
        <div class="feature-card__ctrl">
          <a href="/projects/#project--candidates" class="feature-card__link buttonNew buttonNew--outline">Read more</a>
        </div>
      </article><!-- /.feature-card -->

    </div><!-- /.feature-card-wrapper -->

    <p><a href="/projects/" class="buttonNew buttonNew--outline">See more projects</a></p>

  </div><!-- /.fukol-grid__col -->
  <div class="fukol-grid__col fukol-grid__col--40-30">

    {% include "_includes/form--donate-box.html" %}

  </div><!-- /.fukol-grid__col -->
</div><!-- /.fukol-grid -->

<div class="fukol-grid">

  <div class="fukol-grid__col fukol-grid__col--50-60">
    <div class="section-header">
      <h3 class="section-header__title"><a href="{% url "backlog:backlog_view"%}">Quests</a></h3>
      <div class="section-header__body">
        <p>Democracy needs you! Join thousands of people helping to make democracy better by completing small quests.</p>
      </div>
    </div><!-- /.section-header -->
    {% include "backlog/includes/card.html" %}
    <p><a href="{% url "backlog:backlog_view"%}" class="buttonNew buttonNew--outline">See more quests</a></p>
  </div><!-- /.fukol-grid__col -->

  <div class="fukol-grid__col fukol-grid__col--50-40">

    {% for post in latest_posts %}

      {% if forloop.first %}
      <div class="section-header">
        <h3 class="section-header__title"><a href="/blog/">Our Blog</a></h3>
      </div><!-- /.section-header -->
      {% endif %}

      <div class="media-card">
        {% if post.hero %}
        <div class="media-card__img">
          <a href="{{ post.get_absolute_url }}">
            {% thumbnail post.hero "300x300" crop="center" format="PNG" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </a>
        </div><!-- /.media-card -->
        {% endif %}
        <div class="media-card__content">
            <h4 class="media-card__title">
                <a href="{{ post.get_absolute_url }}">{{ post.subject }}</a>
            </h4>
            <div class="media-card__body">
              {{ post.short|safe }}
            </div>
        </div><!-- /.media-card__body -->
      </div><!-- /.media-card -->
    {% endfor %}

  </div><!-- /.fukol-grid__col -->

</div><!-- /.fukol-grid -->

<div class="logo-list">
  <h4 class="logo-list__title">Our data powers services and stories by</h4>
  <div class="logo-list__list">
    <div class="logo-list__img"><img src="{% static 'images/reusers/logo--google.svg' %}" alt="Google" /></div>
    <div class="logo-list__img"><img src="{% static 'images/reusers/logo--the-electoral-commission.jpg' %}" alt="The Electoral Commission" /></div>
    <div class="logo-list__img"><img src="{% static 'images/reusers/logo--the-daily-telegraph.svg' %}" alt="The Telegraph" /></div>
    <div class="logo-list__img"><img src="{% static 'images/reusers/logo--the-guardian.svg' %}" alt="The Guardian" /></div>
    <div class="logo-list__img"><img src="{% static 'images/reusers/logo--coventry-city-council.jpg' %}" alt="Coventry City Council" /></div>
    <div class="logo-list__img logo-list__img--square-logo"><img src="{% static 'images/reusers/logo--terrence-higgins-trust.jpg' %}" alt="Terrence Higgins Trust" /></div>
  </div>
</div>

{% endblock %}
