{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block content %}

{% markdown %}

Democracy Club is a group of volunteers that aims to increase the quantity, quality and accessibility of information on election candidates, politicians and democratic processes through digital tools, microvolunteering and collaboration with like-minded organisations.

<section  markdown="1">

###  Contribute to [YourNextMP](http://yournextmp.com/)

[<img src="{% static 'images/ynmp.png' %}" width="300" height="231" alt="YourNextMP home page" class="thumb">](http://yournextmp.com/)

At the last election, YourNextMP’s volunteer-sourced database of candidates was found to be <strong>more accurate</strong> than at least one of the most popular commercial datasets.

YourNextMP is already the biggest, most well sourced and well structured database of General Election 2015 candidate data. Get the data now, or help by contributing new nuggets.
</section>

<section  markdown="1">
###  Contribute to [MeetYourNextMP](http://meetyournextmp.com/)

[<img src="{% static 'images/mynmp.png' %}" width="300" height="231" alt="MeetYourNextMP home page" class="thumb">](http://meetyournextmp.com/)

For the first time, this year we are creating a volunteer-sourced database of hustings and events for the General Election. Let's make it easy for people to meet their next MP!

Get the data now, or help by contributing any events you know about.

</section>

<section  markdown="1">
###  Contribute to [Election Mentions](https://www.electionmentions.com/)

[<img src="{% static 'images/electionmentions.png' %}" width="300" alt="Election Mentions home page" class="thumb">](http://www.electionmentions.com/)

The news media say a lot of interesting things about the candidates you might vote for and the constituency you live in. However, it's all buried and difficult to find.

Election Mentions presents articles that we think are relevant in an attractive and simple list, facilitating further research, and ultimately helping to inform your vote. You can also add articles you find for other people to read.

</section>


<section markdown="1">

## Get involved:

### Talk to us

* [Email about ideas and projects]((https://groups.google.com/forum/#!forum/democracy-club))
* [Contribute to existing ideas](https://github.com/symroe/Election/blob/master/IDEAS.mkd)
* [Write some code](https://github.com/DemocracyClub/)
* [Come and meet us in person](http://www.eventbrite.co.uk/e/full-fact-and-democracy-club-volunteer-social-tickets-14529368733?aff=es2&rank=3)
</section>






{% endmarkdown %}

{% endblock %}
