{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load typogrify_tags %}
{% load thumbnail %}


{% block content %}

<div class="fukol-grid">
    <div class="block" id="home_block_report_2016">
      <div class="fukol-grid">
        <div>
          <h2>Towards better elections</h2>
        </div>
        <div>
          <p>Report on Democracy Club’s work on the May 2016 elections and the future of digital services for democracy.</p>
          <p><a class="link-button" href="{% url "report_2016:report_2016" %}">Read the report</a></p>
          <footer>Photo credit: <a href="https://commons.wikimedia.org/wiki/File:The_Old_Bridge,_Pontypridd.jpg">Varitek</a>, CC-BY-SA 3.0</footer>
        </div>

      </div>
    </div>
</div>

{# <div class="fukol-grid"> #}
{#     <div class="block"> #}
{#         <h1>CTA OF THE MONTH!</h1> #}
{#         <p>(eg Find candidates)</p> #}
{#     </div> #}
{#     <div class="block"> #}
{#         <h1>JOIN</h1> #}
{#         <p>(eg Mailing list and donate)</p> #}
{#     </div> #}
{# </div> #}

<div class="fukol-grid">
  {% for post in latest_posts %}
    <div class="block">
      <div class="grid">
        {% if post.hero %}
        <div>
            <a href="{{ post.get_absolute_url }}">
                {% thumbnail post.hero "300x300" crop="center" format="PNG" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
        </div>
        {% endif %}
        <div>
          <h3 style="margin-top:0;">
              <a href="{{ post.get_absolute_url }}">{{ post.subject }}</a>
          </h3>
          {{ post.short|safe }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% if request.GET.backlog %}
<div class="grid">
    <div class="block">
        <h1>Help out</h1>
        <p>We need your help, here's the most important thing you can do:</p>
        <div class="card">
            <h3>{{ card.title }}</h3>
            <p>{{ card.text|markdown }}</p>
            <a class="link-button" href="{{ card.url }}">Help out</a>
        </div>
        <p><a href="/backlog/" class="read_more">See more things to do</a></p>
    </div>
</div>
<div style="margin-bottom:2em"></div>
{% endif %}
<!--

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?a"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?b"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?sdfdsfa"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?45435b"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>
<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?sdf5dsfa"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?454t35b"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>
<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?sdfcdsfa"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

<div class="grid">
    <div class="block">
      <div class="grid">
        <div><img src="http://lorempixel.com/400/400?45435sb"></div>
        <div>
          <h1>PROJECT</h1>
          <p>Polling station finder</p>
        </div>
    </div>
</div>
</div>

-->


{# <section class="row" id="report_2016"><div class="wrap"> #}
{#   <div class="columns large-6"> #}
{#     <h2>Towards better elections</h2> #}
{#   </div> #}
{#   <div class="columns large-6"> #}
{#     <p>Report on Democracy Club’s work on the May 2016 elections and the future of digital services for democracy.</p> #}
{#     <p><a class="link-button" href="{% url "report_2016:report_2016" %}">Read the report</a></p> #}
{#   </div> #}
{#   <div class="columns large-12" id="credit"> #}
{#     Photo credit: <a href="https://commons.wikimedia.org/wiki/File:The_Old_Bridge,_Pontypridd.jpg">Varitek</a>, CC-BY-SA 3.0 #}
{#   </div> #}
{#   <div style="clear:both;"></div> #}
{# </div></section> #}
{#  #}
{# <section class="row" id="the_club"> #}
{#   <div class="columns large-6"> #}
{#     <h2>The Club</h2> #}
{#   </div> #}
{#   <div class="columns large-6"> #}
{#     <p>Join thousands of people taking small actions to make democracy better for everyone. <br />Free and non-partisan.</p> #}
{#     <form action="https://mail.democracyclub.org.uk/subscribe" method="POST" accept-charset="utf-8" id="signup_form"> #}
{#       <input type="hidden" name="list" value="uFrDEpP6B892qUiD2KwEI892Pg"/> #}
{#       <input name="email" placeholder="email" type="text"/> #}
{#       <button type="submit" name="submit" class="button">Join</button> #}
{#     </form> #}
{#   </div> #}
{# </section> #}
{#  #}
{# <section class="row" id="data_for_democracy"> #}
{#   <div class="columns large-6"> #}
{#     <h2>Data for Democracy</h2> #}
{#   </div> #}
{#   <div class="columns large-6"> #}
{#     <p>We provide the most accurate and comprehensive data to power voter information services.</p> #}
{#     <p><a class="link-button" href="{% url "data" %}">Read more</a></p> #}
{#   </div> #}
{# </section> #}
{#  #}
{# <section class="row" id="who_can_i_vote_for"> #}
{#   <div class="columns large-6"> #}
{#     <h2>Who Can I Vote For?</h2> #}
{#   </div> #}
{#   <div class="columns large-6"> #}
{#     <p>Find the candidates for your next election.</p> #}
{#     <p><a class="link-button" href="https://www.whocanivotefor.co.uk">Go to WhoCanIVoteFor.co.uk</a></p> #}
{#   </div> #}
{# </section> #}
{#  #}
{# <section class="row"> #}
{#     <ul class="nav"> #}
{#       <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li> #}
{#       <li {% if request.path == "/about/" %}class="active"{% endif %}><a href="/about/">About</a></li> #}
{#       <li {% if request.path|slice:":10" == "/projects/" %}class="active"{% endif %}><a href="/projects/">Projects</a></li> #}
{#       <li {% if request.path == "/blog/" %}class="active"{% endif %}><a href="/blog/">Blog</a></li> #}
{#       <li {% if request.path == "/contact/" %}class="active"{% endif %}><a href="/contact/">Contact</a></li> #}
{#       <li {% if request.path == "/donate/" %}class="active"{% endif %}><a href="/donate/">Donate</a></li> #}
{#       <div style="clear:both;"></div> #}
{#     </ul> #}
{# </section> #}
{#  #}
{# <!--<section class="row"> #}
{#   <div class="columns large-6"> #}
{#     <h3>Latest from the blog</h3> #}
{#     <ul class="large-block-grdd-1"> #}
{#     {% with latest_post.0 as post  %} #}
{#       <li> #}
{#           <h3><a href="{{ post.get_absolute_url }}">{{ post.subject|typogrify }}</a></h3> #}
{#           {{ post.summary|markdown|truncatewords_html:30 }} #}
{#           <a href="{{ post.get_absolute_url }}"  class="read_more">Read more</a> #}
{#       </li> #}
{#     {% endwith %} #}
{#     </ul> #}
{#  #}
{#   </div> #}
{# </section>--> #}
{#  #}


{% endblock %}
