{% extends "base.html" %}

{% block content %}
<article>
  <h1>Projects</h1>

  <section class="project">
    <header>
      <h3><a href="{% url "polling_one_pager" %}">Where Do I Vote</a></h3>
    </header>
    <p>
      Our <a href="https://wheredoivote.co.uk/">polling station finder</a>
      provides a platform that can answer one of the most Googled terms on election days in the UK:
      "Where do I vote"
      </p>
    <a href="{% url "polling_one_pager" %}" class="read_more">
      Find out how</a>
  </section>

  <section class="project">
    <header>
      <h3><a href="https://whocanivotefor.co.uk/">WhoCanIVoteFor</a></h3>
    </header>
    <p>
      Used by over 1.5 million people to date and bringing together all of our
      other projects, WhoCanIVoteFor tells UK voters
      about their elections, candidates, polling stations, press mentions and more.
    </p>
    <a href="https://whocanivotefor.co.uk/" class="read_more">
      Find who you can vote for</a>
  </section>

  <section class="project">
    <header>
      <h3><a href="https://candidates.democracyclub.org.uk/">Democracy Club Candidates</a></h3>
    </header>
    <p>
      We crowd source all the candidates in all UK elections, and provide
      them as an <a href="/data/#candidates">API and data feed</a>
    </p>
    <a href="https://candidates.democracyclub.org.uk/" class="read_more">
      Help with the crowd sourcing</a>
  </section>


  <section class="project">
    <header>
      <h3><a href="{% url "election_ids" %}">Election IDs</a></h3>
    </header>
    <p>
        We've developed a standard, with community input, on how to refer to elections in the UK. We hope these standard IDs will make it easier to build tools for voters.
    </p>
    <a href="{% url "election_ids" %}" class="read_more">Read more</a>
  </section>

  <section class="project">
    <header>
      <h3>Election Leaflets</h3>
    </header>
    <p>
      <a href="https://electionleaflets.org/">Election Leaflets</a> asks you to
      photograph the leaflets that get put through your door and share them
      with the world.
      </p>
    <p>We have a huge archive of election leaflets that is ready for anyone to
      analyse.  Please <a href="/contact/">contact us</a> if you would like to know more</p>

    <a href="https://electionleaflets.org" class="read_more">Snap a leaflet</a>
  </section>

  <section class="project">
    <header>
      <h3>Election Mentions</h3>
    </header>
    <p>
      <a href="http://ElectionMentions.com">Election Mentions</a>
      presents press articles that we think are relevant in an attractive
      and simple list, facilitating further research, and ultimately helping to
      inform your vote. You can also add articles you find for other people to read.
      </p>
    <a href="http://ElectionMentions.com" class="read_more">Start reading</a>
  </section>

  <section class="project">
    <header>
      <h3>Read your candidates' CVs</h3>
    </header>
    <p>
      Use <a href="http://cv.democracyclub.org.uk">MPCV</a> to read the CV of your
      candidates, or ask them to make it public so you can decide if you should
      give them a job.
    </p>
    <a href="http://cv.democracyclub.org.uk" class="read_more">Read their CVs</a>
  </section>

  <section class="project">
    <header>
      <h3>MeetYourNextMP</h3>
    </header>
    <p>
      MeetYourNextMP was a project run in 2015 to crowdsource a list of
      public hustings events (where candidates take questions from a local
      audience).

    </p>
    <a href="https://docs.google.com/document/d/1_zH9K8K3IWQ3PhaKFQAgZNVW5tn0MCONh9yCwoO43KM/edit#heading=h.dv7v3s2oyci8" class="read_more">Read more about it</a>
  </section>

</article>

<section class="card" id="data_elections">
    <h2>Elections</h2>

    <p>Upcoming UK elections at all levels, with postcode lookup. Ward-level granularity for local authority elections. Identifiers are issued under our <a href="{% url "election_ids" %}">election identifiers</a> project.</p>

    <ul>
        <li>Inform people about upcoming elections</li>
        <li>Use election identifiers to organise your data about elections</li>
    </ul>

    <p><a class="link-button" href="https://elections.democracyclub.org.uk">Read More</a></p>

    <dl>
        <dt>License</dt> <dd><a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></dd>
        <dt>Availability</dt> <dd>REST API endpoint</dd>
        <dt>Includes elections for</dt>
        <dd>
            <ul>
                <li>UK Parliament</li>
                <li>Scottish Parliament</li>
                <li>National Assembly for Wales</li>
                <li>Northern Ireland Assembly</li>
                <li>Greater London Assembly</li>
                <li>Mayors</li>
                <li>Local authorities</li>
                <li>Police and crime commissioners</li>
            </ul>
        </dd>
        <dt>NB</dt> <dd>Needs your help to catch all by-elections</dd>
    </dl>
</section>

<section class="card" id="data_candidates">
    <h2 id="candidates">Candidates</h2>

    <p>Candidates in recent and upcoming UK elections. Name, email, photos and social media links are provided for every candidate.</p>

    <ul>
        <li>Inform people about their candidates</li>
        <li>Help your users contact their candidates about issues they care about</li>
        <li>Monitor the public presence of candidates during and after the campaign</li>
    </ul>

    <p><a class="link-button" href="https://candidates.democracyclub.org.uk/help/api">Read More</a></p>
    <dl>
        <dt>License</dt> <dd><a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></dd>
        <dt>Availability</dt> <dd>REST API endpoint and Microsoft Excel compatible CSV</dd>
        <dt>Elections covered</dt>
        <dd>
            <ul>
                <li>All major UK elections from 2016</li>
                <li>General Election 2015</li>
                <li>General Election 2010</li>
            </ul>
        </dd>
        <!--<dt>Historical elections covered (as dumps)</dt>
        <dd>
            <ul>
                <li>European Parliament 2014</li>
                <li>Police and crime commissioner 2012</li>
            </ul>
        </dd>-->
        <dt>NB</dt> <dd>Currently does not include all by-elections</dd>
    </dl>
</section>

<section class="card" id="data_polling_stations">
    <h2 id="polling_stations">Polling Stations</h2>

    <p>API that returns a polling station for a given postcode, optionally asking for an address if needed.</p>

    <ul>
        <li>Include a polling station finder on your web site</li>
        <li>Mail merge with an existing list containing postcodes to give polling station location in a mailout</li>
    </ul>

    <p><a class="link-button" href="https://wheredoivote.co.uk/api/">Read More</a></p>
    <dl>
        <dt>License</dt> <dd><a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA 3.0</a></dd>
        <dt>Availability</dt> <dd>REST API endpoint</dd>
        <dt>Elections covered</dt>
        <dd>
            <ul>
                <li>Coverage depends on data we are given. We hope for around 50% coverage in 2017.</li>
            </ul>
        </dd>
        <dt>NB</dt> <dd>If you work at a local authority you can help us by
            <a href="{% url "polling_one_pager"%}">providing your data to us.</a> </dd>
    </dl>
</section>


{% endblock content %}
