{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="columns large-8">
      <h1>Projects</h1>
      <section class="project">
        <header>
          <h3>YourNextMP.com</h3>
        </header>
        <p>
          Use <a href="https://YourNextMP.com/">YourNextMP.com</a> to
          find out who was on the ballot paper in the 2015 UK General Election.
        </p>
        <a href="https://YourNextMP.com/" class="read_more">See the candidates</a>
      </section>

      <section class="project">
        <header>
          <h3>Polling Station finder</h3>
        </header>
        <p>
          We're launching <a href="http://pollingstations.democracyclub.org.uk/">a hugely ambitious
          website</a> that is trying to gather all the data on the location of polling
          stations all over the country so we can tell you where to vote.  Help us get
          it all!
          </p>
        <a href="http://pollingstations.democracyclub.org.uk/" class="read_more">See where to vote</a>
      </section>


      <section class="project">
        <header>
          <h3>Election Leaflets</h3>
        </header>
        <p>
          <a href="https://electionleaflets.org/">Election Leaflets</a> asks you to
          photograph the leaflets that get put through your door and share them
          with the world.
          </p>
        <p>We have a huge archive of election leaflets that is ready for anyone to
          analyse.  Please <a href="/contact/">contact us</a> if you would like to know more</p>

        <a href="https://electionleaflets.org" class="read_more">Snap a leaflet</a>
      </section>

      <section class="project">
        <header>
          <h3>Meet your candidates</h3>
        </header>
        <p>
          Use <a href="https://MeetYourNextMP.com/">MeetYourNextMP.com</a> to find out
          what events your candidates are going to, so you can talk to them in person,
          or list events you know they will be attending if we don't already have them
          in our database.
        </p>
        <a href="https://MeetYourNextMP.com/" class="read_more">Find an event</a>
      </section>

      <section class="project">
        <header>
          <h3>Read your candidates' CVs</h3>
        </header>
        <p>
          Use <a href="http://cv.democracyclub.org.uk">MPCV</a> to read the CV of your
          candidates, or ask them to make it public so you can decide if you should
          give them a job.
        </p>
        <a href="http://cv.democracyclub.org.uk" class="read_more">Read their CVs</a>
      </section>

      <section class="project">
        <header>
          <h3>Election Mentions</h3>
        </header>
        <p>
          <a href="http://ElectionMentions.com">Election Mentions</a>
          presents press articles that we think are relevant in an attractive
          and simple list, facilitating further research, and ultimately helping to
          inform your vote. You can also add articles you find for other people to read.
          </p>
        <a href="http://ElectionMentions.com" class="read_more">Start reading</a>
      </section>
  </div>
</div>


{% endblock content %}
