{% extends "research/base.html" %}
{% block page_title %}Case Studies{% endblock %}
{% block main_content %}

    <h1>Case studies</h1>
    <p>Each year, our voter information tools and elections data are used by a wide array of organisations. Below are
        some of our favourite examples.
    </p>
    <p>Our data has also been used in multiple House of Commons Library research briefings. For examples of this, please see our <a href="https://democracyclub.org.uk/report_2021/#press-pr">2021 election report</a>.</p>
    <p>For summaries of press coverage during individual elections, <a href="https://democracyclub.org.uk/projects/reports/">please see the relevant election report</a>.</p>
    <p>To access the data yourself, please see our <a href="https://democracyclub.org.uk/data_apis/voting_information_api/">data and API pages</a>.</p>

    <ul class="ds-details">
        <li>
            <details>
                <summary>
                    <h2 >Data Journalism</h2>
                </summary>
                <p>
                    <a href="https://www.walesonline.co.uk/news/uk-news/local-elections-2022-uks-most-23866562">Wales Online</a> (2022)
                </p>
                <p>
                    <a href="https://www.nationalworld.com/news/politics/local-elections-2022-candidates-3660601">NationalWorld</a> (2022)
                </p>
                <p>
                    <a href="https://www.theguardian.com/politics/2021/apr/27/independents-day-the-rise-of-hyperlocal-political-parties">The Guardian</a> (2021)
                </p>
                <p>
                    <a href="https://www.thetimes.co.uk/article/who-are-the-general-election-candidates-in-my-constituency-area-60btrdpxs">The Times</a> (2019)
                </p>
                <p>
                    <a href="https://www.bbc.co.uk/news/uk-england-47947867">BBC News</a> (2019)
                </p>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    <h2>Partnerships</h2>
                </summary>
                <p>
                    <a href="https://www.inyourarea.co.uk/news/local-elections-2019-who-you-can-vote-for-a-where/">In Your Area</a> (2019)
                </p>
                <p>
                    <a href="https://www.democraticaudit.com/2018/04/09/englands-local-elections-2018-bridging-the-information-gap-with-the-democratic-dashboard/">Democratic Audit</a> (2018)
                </p>
                <p>
                    <a href="https://ukelectoralcommission.wordpress.com/2017/02/06/helping-voters-find-out-where-to-vote/">The Electoral Commission</a> (2017)
                </p>
                <p>
                    <a href="http://digital.oxford.gov.uk/blog/2017/05/17/collaboration-not-reinvention">Oxford City Council</a> (2017)
                </p>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    <h2>Articles</h2>
                </summary>
                <p>
                    <a href="https://nation.cymru/opinion/if-we-want-young-people-to-turn-out-for-the-senedd-vote-we-must-make-it-an-election-fit-for-digital-natives/">Nation.Cymru</a> (2021)
                </p>
                <p>
                    <a href="https://www.tbd.community/en/a/democracy-club-uk">TBD</a> (2017)
                </p>
                <p>
                    <a href="https://www.theguardian.com/politics/2017/jun/06/democracy-theres-an-app-for-that-the-tech-upstarts-trying-to-hack-british-politics">The Guardian</a> (2017)
                </p>
                <p>
                    <a href="http://techpresident.com/news/25519/democracy-club-brings-transparency-uks-obscure-election-procedures">TechPresident</a> (2015)
                </p>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    <h2>Candidate gender analysis</h2>
                </summary>
                <p>
                    The Scotsman (2022), '<a href="https://www.scotsman.com/news/politics/council-elections-scotland-only-33-of-candidates-running-for-may-local-elections-are-female-3673344">Council elections Scotland: Only 33% of candidates running for May local elections are female</a>'
                </p>
                <p>
                    The Times (2022), '<a href="https://www.thetimes.co.uk/article/local-election-analysis-says-the-typical-candidate-is-a-47-year-old-man-called-david-6txvmj9d5">Local election analysis says the typical candidate is a 47-year-old man called David</a>'
                </p>
                <p>
                    Fawcett Society (2021), '<a href="https://www.fawcettsociety.org.uk/news/new-data-shows-only-a-third-of-local-election-candidates-are-women">New data shows only a third of local election candidates are women</a>'
                </p>
                <p>
                    Fawcett Society (2019), '<a href="https://www.fawcettsociety.org.uk/news/lack-of-women-candidates-in-local-elections-puts-councils-behind-the-times">Lack of women candidates in local elections "puts councils behind the times"</a>'
                </p>
                <p>
                    <a href="https://www.telegraph.co.uk/women/politics/general-election-2017-sees-record-level-female-candidates/">The Daily Telegraph</a> (2017)
                </p>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    <h2>Reports</h2>
                </summary>
                <p>
                    <a href="https://committees.parliament.uk/work/375/the-work-of-the-electoral-commission/publications/">Public Administration and Constitutional Affairs Committee</a> (2022)
                </p>
                <p>
                    House of Lords Democracy and Digital Technologies Select Committee (2020), '<a href="https://committees.parliament.uk/committee/407/democracy-and-digital-technologies-committee/news/115316/democracy-under-threat-from-pandemic-of-misinformation-online-say-lords-committee/">Digital Technology and the Resurrection of Trust</a>'
                </p>
                <p>
                    Flavio Grazian & Hendrik Nahr (2020), '<a href="https://ecas.org/wp-content/uploads/2021/02/Next-level-participation_0302_fin.pdf">Next Level Participation: Citizen-Driven E-Democracy Tools</a>' [PDF] (European Liberal Forum)
                </p>
            </details>
        </li>
        <li>
            <details>
                <summary>
                    <h2>Academic Research</h2>
                </summary>
                <p>
                    Owen Winter (2022), '<a href="https://blogs.lse.ac.uk/politicsandpolicy/progressive-electoral-cooperation/">Did progressive electoral cooperation disproportionately hurt the Conservatives in the 2022 English local elections?</a>', <em>LSE British Politics and Policy</em>
                </p>
                <p>
                    James Weinberg (2020), '<a href="https://doi.org/10.1177/1369148120959044">Emotional labour and occupational wellbeing in political office</a>', <em>The British Journal of Politics and International Relations</em>
                </p>
                <p>
                    Genevieve Gorrell et. al. (2020), '<a href="https://doi.org/10.1140/epjds/s13688-020-00236-9">Which politicians Receive abuse? Four factors illuminated in the UK general election 2019</a>', <em>EPJ Data Science</em>
                </p>
                <p>
                    James Weinberg (2020), '<a href="https://doi.org/10.1017/S0007123419000814">Who Wants To Be a Politician? Basic Human Values and Candidate Emergence in the United Kingdom</a>', <em>British Journal of Political Science</em>
                </p>
                <p>
                    Caitlin Milazzo & Joshua Townsley (2020), '<a href="https://doi.org/10.1093/pa/gsy040">Conceived in Harlesden: Candidate-Centred Campaigning in British General Elections</a>', <em>Parliamentary Affairs</em>
                </p>
            </details>
        </li>
    </ul>

{% endblock main_content %}
