{% extends "research/base.html" %}
{% block page_title %}Case Studies{% endblock %}
{% block main_content %}

    <h1>Case studies</h1>
    <p>Each year, our voter information tools and elections data are used by a wide array of organisations. Below are
        some of our favourite examples.
    </p>
    <p>To access the data yourself, please see our <a href="https://democracyclub.org.uk/data_apis/voting_information_api/">data and API pages</a>.</p>

    {% load post_tags %}
    {% posts_for_tag "case_study" hide_header=True %}

{% endblock main_content %}
