{% extends "research/base.html" %}
{% load static %}

{% block page_heading %}<h1>Our impact</h1>{% endblock page_heading %}
{% block page_title %}Our Impact{% endblock page_title %}
{% block main_content %}

    <div class="ds-stack">

        <h1>Research and Impact</h1>
        <h2>Our impact in numbers</h2>
        <p>Democracy Club is a not-for-profit Community Interest Company, powered by an incredible community of volunteers.
            Our first priority will always be opening up the vital data that powers our democracy for the benefit of all voters.</p>

        <ul class="ds-showcase ds-switcher" style="--gridCellMin: 15ch; --gridGap: 2rem;">
            <li><strong>219m</strong><br> Reminders to vote sent in partnerships in 2019</li>
            <li><strong>83%</strong><br> Of users say that our services make them more likely to vote</li>
            <li><strong>3.5m</strong><br> People used our services in the last election</li>
            <li><strong>98%</strong><br> Of councils across the UK work with us</li>
            <li><strong>12,200</strong><br> People have contributed to improving our democratic data</li>
            <li><strong>60,000</strong><br> Edits were made by our community in the 2022 local elections</li>
            <li><strong>90%</strong><br> User satisfaction</li>
            <li><strong>900</strong><br> People in our Democracy Club Slack. <a class="ds-text-left" href="#">Join us</a></li></li>
    </ul>

    {% include "_includes/case_studies.html" %}

    <h2>Latest research and reports</h2>
    <ul class="ds-grid" style="--gridCellMin: 30ch; --gridGap: 1rem;">
        <li class="ds-card">
            <div class="ds-card-body">
                <h3><a class="ds-card-link ds-h5" href="{% url 'report_2022:report_2022' %}">2022 Election</a></h3>
                <p>Read the overview of our 2022 election services </p>
            </div>
        </li>
        <li class="ds-card">
            <div class="ds-card-body">
                <h3><a class="ds-card-link ds-h5" href="{% url 'report_2021:report_2021' %}">2021 Election</a></h3>
                <p>Read the overview of our 2021 election services </p>
            </div>
        </li>
        <li class="ds-card">
            <div class="ds-card-body">
                <h3><a class="ds-card-link ds-h5" href="{% url 'report_2019_general_election:report_2019_general_election' %}">2019 General Election</a></h3>
                <p>Read the overview of our 2019 general election services </p>
            </div>
        </li>
        <li class="ds-card">
            <div class="ds-card-body">
                <h3><a class="ds-card-link ds-h5" href="{% url 'report_2019:report_2019' %}">2019 Election</a></h3>
                <p>Read the overview of our 2019 local and European election services </p>
            </div>
        </li>
    </ul>
    <p><a href="{% url 'projects:reports' %}"><strong>See all our reports and research</strong></a></p>

    <h2>Postcode searches</h2>
    <p>Our polling station and candidate databases have handled over ten million postcode searches since 2015. Our own research suggests
        that our tools are effective at reaching less engaged groups, particularly younger voters.</p>

    <figure>
        <img src="{% static "images/impact-figure-1.png" %}" alt="Figure 1">
        <figcaption>
            <p>Figure 1 gives the number of individual UK postcode searches processed by our elections database for the week of
                each named election (00:00 Monday to 22:00 Thursday).</p>
        </figcaption>
    </figure>
    <h2>Does Democracy Club make users more likely to vote?</h2>
    <p>In the 2022 local elections we asked users of our polling station finder whether the service made them more likely to vote. 83% told us that it did.</p>
    <blockquote>“Its super helpful! We couldn't find our polling station and went to 2 stations!
        Apparently there was a new one made in our area and we only found out from this website!!! And WE VOTED! Thnksss soo much!!"</blockquote>

    <h2>User Feedback</h2>
    <p>After entering a postcode and receiving a result, users of our two websites WhereDoIVote.co.uk and WhoCanIVoteFor.co.uk are prompted
        to answer the question, ‘did you find what you were looking for?’</p>

    <figure>
        <img src="{% static "images/impact-figure-2.png" %}" alt="Figure 2">
        <figcaption>
            <p>Figure 2 gives the proportion of users who answered ‘yes’ to this question during the week of each election
                (00:00 Monday to 22:00 Thursday).
                While WhereDoIVote ratings have always been high, WhoCanIVoteFor shows an obvious and sustained upwards trend
                since we started collecting
                feedback in 2018. This reflects our steady improvement of the site and addition of extra information.</p>
        </figcaption>
    </figure>
    <p>We also recieve thousands of pieces of written feedback from voters each year. Here are some examples:</p>
    <blockquote>I find politics a difficult topic to understand, and not only is this website a simple layout and
        design, you also outline what each of the elected people’s roles will entail.</blockquote>
    <blockquote>Couldn’t be clearer! Very helpful for a first-time voter in this constituency (have just moved here).</blockquote>
    <blockquote>I am disabled and registered visually impaired. This site was so so easy to use. All the information
        I need is right there.</blockquote>
    <blockquote>Having walked to the place where I have previously voted - only to find it shut - I felt somewhat at
        a loss as to where to go. Until I accessed this site.</blockquote>

    <h2>Working alongside every council</h2>
    <p>We have developed an excellent working relationship with English, Scottish and Welsh local government,
        from whom we source the data to power our polling station finder. Over 90% of GB councils now provide polling
        station data to us, and more than half use our tools in their election communication campaigns. Since 2018,
        our polling station and candidate data has been used by the Electoral Commission to power the look-up tool on its own website.</p>

    <figure>
        <img src="{% static "images/impact-figure-3.png" %}" alt="Figure 2">
        <figcaption>
            <p>Figure 3 gives the proportion of GB councils taking part in each election who have provided us with polling
                station data over the last five years.</p>

            <p>Please note: the number of councils involved in each election varies, ranging from 152 in 2018, to 371 in 2021.
                Elections involving fewer than 100% of GB
                councils are coloured pink on the graph. Elections in Northern Ireland are organised by Elections Office
                Northern Ireland, who run their
                own polling station finder.</p>
        </figcaption>
    </figure>
    <h2>Working in partnership to empower more voters</h2>
    <p>In 2019 we sent 218m notifications in partnership with Facebook,
        Instagram, Twitter and SnapChat to remind people to vote with personalised directions to their
        polling stations. Working in partnership is key to the success of our services. In and outside
        of elections we have provided democratic data and services to partners such as the Electoral
        Commission, Welsh Government, Gov.UK, Facebook, Twitter, SnapChat, Google, Fawcett Society,
        The Times, Reach, Sky News and many others. We believe that democratic data should be as
        frictionless as possible to access and good digital infrastructure, paired with bold partnerships,
        are the best way of making that possible.</p>
    <p><a href="{% url 'contact' %}"><strong>Work with us</strong></a></p>

    {% load post_tags %}
    {% posts_for_tag "research" %}
    </div>
{% endblock main_content %}
